[2018-05-19 13:43] dayrl10 commented on #180
thanks for the advice. ;)

[2018-05-19 15:07] #180 closed, assigned to nobody

[2018-05-19 15:21] wellyshen commented on #179
@danjonesdev I can work both `yarn start` (api path : `http://localhost:3000/api/article`) and `yarn start:production` (api path : `http://localhost:8080/api/article`) in my local environment. Make sure your **PORT** is set correctly.

[2018-05-20 11:44] aagentah commented on #179
@wellyshen It's working 😄 Thank you so much, I can't believe how simple it was - I have been stuck on this for 2 months!

I can leave you alone now sorry 😆 Keep up the amazing work!

[2018-05-20 14:10] wellyshen commented on #179
@danjonesdev Don't forget to share your amazing product bro ;)

[2018-05-22 10:59] venuevoke opened #181 "Intigration with meterial UI ?"
Im tring to integrate with meterial ui. server is runing but no response. Build has no issuses.

Can please provide code snippet for merterial ui rendering?

[2018-05-24 12:33] aagentah commented on #179
@wellyshen I will on launch :) thankyou!

[2018-05-24 16:09] wellyshen commented on #181
@venuevoke I don't have the experience with **Material UI**. I think it's usage question I recommend you ask it on [stackoverflow](https://stackoverflow.com/).

[2018-05-24 16:09] #181 closed, assigned to nobody

[2018-06-05 10:37] aagentah commented on #6
So yesterday I launched Rendah Mag, an article based magazine focusing on the latest news and releases within the 'halftime drum & bass' community (which is the genre I produce in my spare time)

The magazine is built on top of this starter and I would like to thank @wellyshen for the great work and also for helping me with a few issues along the way!

Here's the site live: https://www.rendahmag.c

[2018-06-06 11:41] wellyshen commented on #6
@danjonesdev

Amazing website bro 👍. Is this your working or personal product? Where did you get the content?
BTW, would you like let it be a part of **Real Case Study** of this starter kit?

[2018-06-06 13:30] crescent-igor commented on #105
If you are using vscode i would recommend you to click the option at the bottom-right of the window and set it to LF from CRLF..this fixed my errors

[2018-06-06 14:12] aagentah commented on #6
@wellyshen Thank you man!

This is a personal project I have been planning for a long time. The content is written by both myself & some authors who have agree'd to create content for the magazine!

Of course, feel free to add it to **Real Case Study**!

[2018-06-06 15:11] wellyshen commented on #6
@danjonesdev I just [added it](https://github.com/wellyshen/react-cool-starter#real-case-study).

[2018-06-12 14:12] ghost commented on #120
Hi! Very good job with this boilerplate. I've learned a lot from checking the code.

Just need to remove SSR, and I can't find  __DISABLE_SSR__ in source code.
Currently, is there any way we can easily disable SSR?

Cheers

[2018-06-13 15:59] wellyshen commented on #120
@dr-webninja, This starter is designed for SSR. In other words, there's no easy way to disable SSR. If you want to disable SSR. I think you need to remove all the **code split components** and disable all the `get('*' (req, res) => { ...  })` from `.src/server.js` maybe more I am not test it yet.

[2018-06-17 01:12] masterial commented on #6
I am trying to use this for a project that includes websockets. Is it possible to set it up some components that are excluded in the server rendering pipeline? How do I do that? Great boilerplate, btw!

[2018-06-18 06:03] denbezrukov opened #182 "]nodemon watcher not working correctly"
Hi,
`src/helpers/renderHtml.js` now is `src/utils/renderHtml.js`

[2018-06-18 07:06] wellyshen commented on #6
@destinatis Did you mean **lazy loading components**?

[2018-06-18 07:22] wellyshen commented on #182
@Dominionys Fixed, thanks a lot 👍

[2018-06-18 07:22] #182 closed, assigned to nobody

[2018-06-18 23:21] masterial commented on #6
@wellyshen Umm... Ideally, ws integration into express for the backend, html5-websocket client and react+redux setup for onmessage callbacks for the frontend.

[2018-07-07 04:11] denny64 opened #183 "You must pass the 'pipelineProposal' option to @babel/preset-stage-0"
### Do you want to report a bug or request a feature?
* For a bug report, describe your issue and tell me how to reproduce it (include screenshots, console messages or minial demo repo). If this's a *usage question*, please **do not post it here**. Post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/reactjs) instead.
* For a feature request, describe the feature and tell me why

[2018-07-07 07:55] denny64 commented on #177
@wellyshen I've tried running `heroku run yarn build` but it still doesn't work. Any ideas?

[2018-07-07 08:17] denny64 commented on #177
Nvm, worked it out. Just needed to remove public/webpack-assets.json in gitignore in first build

[2018-07-08 10:27] wellyshen commented on #183
@denny64 It should be fixed in the latest [commit](https://github.com/wellyshen/react-cool-starter/commit/78445eb515a4cd73a9534cc04bbca68676d7de4d).

[2018-07-09 01:00] denny64 commented on #183
Thanks

[2018-07-09 01:00] #183 closed, assigned to nobody

[2018-07-16 09:23] ilkertuna opened #184 "Uncaught ReferenceError: babelHelpers is not defined"
When I added
"'@babel/plugin-external-helpers',"
into config.babel.js (your commit 'Remove .nvmrc & Use babel external helper plugin & Upgrade dependencies' commit 94d08569fe285c3316bd755d082be238883bd0a7 )
I mean :
![screenshot from 2018-07-16 12-24-51](https://user-images.githubusercontent.com/7367514/42751404-5563031a-88f3-11e8-8d19-294c4165b35e.png)
I also added "@babel/plugin-external-helpers

[2018-07-16 13:39] wellyshen commented on #184
@ilkertuna Thank your for bug report. It has been fixed in [v2.5.2](https://github.com/wellyshen/react-cool-starter/releases/tag/v2.5.2).

[2018-07-16 13:39] #184 closed, assigned to nobody

[2018-07-16 15:07] ilkertuna opened #185 "Imported css is working only in development mode, but not working in production mode"
### BUG

### Expected Behavior
I included css in app.js. My related component which is affected by css is called under Home. I want my component to work the same in both production and development mode.

### Actual Behavior
However, it's working only in development mode.
In development mode, css is applied and everything is looking normal. However, in production mode css is not loading. I do not k

[2018-07-16 16:18] wellyshen commented on #185
@ilkertuna Can you give me a simple reproduced branch based on the [latest version](https://github.com/wellyshen/react-cool-starter/releases/tag/v2.5.3).

[2018-07-16 17:04] ilkertuna opened #186 "Can't start && ReferenceError: window is not defined"
### Bug

### Expected Behavior
yarn build
yarn dev
then, the app should be running

### Actual Behavior
yarn build
yarn dev
then, gives this error

![screenshot from 2018-07-16 19-59-22](https://user-images.githubusercontent.com/7367514/42772509-59dfa7d2-8933-11e8-825c-1aa5ec307ff5.png)

### Your Environment
* ubuntu 18.04
* Chrome 67 on Linux
* node v8.11.2

[2018-07-16 17:26] ilkertuna commented on #185
I can't provide you the code because of "ISSUE  #186 Can't start && ReferenceError: window is not defined". Your latest version doesn't run currently.

I think that I could not properly import css's.
In previous closed issues, you said that css's should be imported in app.js and there is no difference in between css being located in node_modules and src/themes. Am I correct?

Also,
1 - ) What is t

[2018-07-17 07:18] ilkertuna commented on #185
I am able to answer some of my questions after some trials of my own
1 - )  Css which is inluceded in renderHtml.js has no effect.
2 - ) Yes. Css which is inluceded in app.js affects the all project.

Still waiting for an answer to the third question.

[2018-07-17 11:40] wellyshen commented on #186
@ilkertuna I fixed this issue in the last commit.

[2018-07-17 11:40] #186 closed, assigned to nobody

[2018-07-17 11:41] wellyshen commented on #185
@ilkertuna OK I will spend time to see ur questions.

[2018-07-17 15:48] wellyshen commented on #185
@ilkertuna
Yes, if you want to use css without css modules you need to [set it](https://github.com/wellyshen/react-cool-starter/blob/master/tools/webpack/config.babel.js#L17).

You can put global styles or common variable in the `theme` folder and import them in `app.js` so they will influence every component.

For component style, you can import it to the component which it belongs as I did.

Do

[2018-07-19 07:48] ilkertuna commented on #185
Yes, thank you for your interest.

[2018-07-19 07:48] #185 closed, assigned to nobody

[2018-07-29 14:14] denbezrukov opened #187 "Removing babels stage presets"
Hi,
I had a problem with babel migration.
What do you think about this?
https://babeljs.io/blog/2018/07/27/removing-babels-stage-presets

[2018-07-29 17:12] wellyshen commented on #187
@Dominionys Thank you for telling me this big news. You can check this [release](https://github.com/wellyshen/react-cool-starter/releases/tag/v2.5.4) to see what I have done for dealing with this issue. The start-kit only need `@babel/plugin-proposal-class-properties` plugin but you can add your own plugins as I did.

[2018-07-30 16:01] #187 closed, assigned to nobody

[2018-08-01 06:45] dayrlism10 opened #188 "WildCard will not fire fetchUserIfNeeded again if it run the same route."
for example if you re in
http://localhost:1123/tabs/management/info/4

and you go to this wilecard route via a react router link

http://localhost:1123/tabs/management/info/5
or
http://localhost:1123/tabs/management/info/6

it will render the parent and the child in the first time, but if you re going to another route it will not render the child until you refresh the page only then it will render

[2018-08-01 07:15] dayrlism10 commented on #188
i found a way to do it not sure if its right but at least it solve, i place

componentWillReceiveProps(props) {
    const { manageuser, match, fetchManageUserIfNeeded } = props;
    if (props.manageuser[match.params.id]===undefined){
      fetchManageUserIfNeeded(match.params.id);
    }
  }

this code to let it re-render if found not matching from param. lol

[2018-08-01 12:30] wellyshen commented on #188
You can use this [new API](https://hackernoon.com/replacing-componentwillreceiveprops-with-getderivedstatefromprops-c3956f7ce607) to achieve it.

[2018-08-01 12:48] #188 closed, assigned to nobody

[2018-08-01 14:12] maiconcarraro commented on #6
I'll use this for a new project from my job, I really enjoy your boilerplate.
We'll have a big product, a lot of containers and components, and I liked your folder structure too :D

@wellyshen I would like your thoughts... if you can :D
I liked your folder structure, but I was looking other patterns, and I found this [read here](https://levelup.gitconnected.com/structure-your-react-redux-project-f

[2018-08-01 14:32] maiconcarraro opened #189 "React i18next for multi language support"
I would like to suggest to add react i18next because it's really good for multi language products, for example: I'm from Brazil, so most of our projects we need to have portuguese and english languages.

**And why react i18next and not react-intl?**
I really enjoy react i18next syntax, for example `t function`, it looks more productive and their repository is frequently updated (more than react-in

[2018-08-02 06:20] denny64 opened #190 "Is there a way to server side render CSS? [help]"
### Do you want to report a bug or request a feature?
* For a bug report, describe your issue and tell me how to reproduce it (include screenshots, console messages or minial demo repo). If this's a *usage question*, please **do not post it here**. Post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/reactjs) instead.
* For a feature request, describe the feature and tell me why

[2018-08-02 14:47] wellyshen commented on #189
@maiconcarraro Thank you for give this starter a try. I think it's better to keep it more "starter". As you see many starter kits are just a simple and clear environment for developers. If you want to integrate this starter with a multi-lang library I can help you.

[2018-08-02 14:49] wellyshen commented on #190
@denny64 This starter already render css in server side. Can you describe the problem that you encounter more detailed?

[2018-08-02 14:58] wellyshen commented on #6
@maiconcarraro Thank you for your feedback. I'll spend time to read the article that you shared to me 👍

[2018-08-03 02:26] maiconcarraro commented on #189
@wellyshen I would appreciate very much your help 👍 how can we do this?

[2018-08-03 03:02] maiconcarraro commented on #189
I'll share how I'm doing...

- src/i18-client.js
[code]
 

- src/client.js
[code]

 

- src/pages/Home/Home.js
[code]

and I have a folder on src > locales > en/pt-BR > translation.js

[2018-08-03 03:35] maiconcarraro commented on #189
It worked and not worked... if I have the original Home.js file, and I run **yarn dev** its show the home page, then I replace Home.js file with those modifications and it *worked*

But if I stop **yarn dev**, and try again to run **yarn dev** with the Home.js modified, it doens't load the home page, keeps loading forever... Am i missing something?

[2018-08-03 17:19] wellyshen commented on #189
I will spend time to survey it.

[2018-08-03 19:27] maiconcarraro commented on #189
If you need some more information, you can ask me

[2018-08-04 08:10] wellyshen commented on #189
@maiconcarraro Seems you have to setup it for SSR, you can see my [branch](https://github.com/wellyshen/react-cool-starter/tree/react-i18next) to setup it.

[2018-08-04 20:18] maiconcarraro commented on #189
@wellyshen did you push something? https://github.com/wellyshen/react-cool-starter/compare/react-i18next

[2018-08-05 00:04] maiconcarraro commented on #189
Alright, now it's working

I just added this on **server.js**

[code]

Okay, I think I got it what happened, server was rendering a different Home because it didnt have i18n like the client, so they dont match... then server conflicted?

[2018-08-05 05:24] denny64 commented on #190
Thanks for responding, the issue I was having was actually unrelated to this starter.

[2018-08-05 05:24] #190 closed, assigned to nobody

[2018-08-05 06:08] wellyshen commented on #189
@maiconcarraro

Sorry my fault I have pushed some new stuff to the branch plz check it.
Yea server and client must have the same rendering stuff.

BTW, you can check the [SSR doc](https://react.i18next.com/misc/serverside-rendering) of i18n for more info.

[2018-08-05 13:34] maiconcarraro commented on #189
@wellyshen thank you very much 👍 I don't have much experience with SSR yet, but I'm trying hard...

btw is just me or that SSR is really a kludge?

I was reading how[ Airbnb created hypernova](https://medium.com/airbnb-engineering/server-rendering-code-splitting-and-lazy-loading-with-react-router-v4-bfe596a6af70) to solve their problem, and there is a quote from Ryan Florence, Co-Creator of React

[2018-08-05 13:36] maiconcarraro commented on #6
@wellyshen there is a way to support you? like [Buy me a coffee](https://www.buymeacoffee.com/explore/developer)

[2018-08-05 13:40] hasusuf opened #191 "Async exception after adding TailwindCss"
I’m trying to add [tailwindcss](https://tailwindcss.com/) after adding tailwind to the project I have gotten that exception `Use process(css).then(cb) to work with async plugins` after performing `npm run dev` the exception belongs to `css-modules-require-hook` and by googling that exception I found that `css-modules-require-hook` don’t support async functions. Unfortunately, am not a Webpack expe

[2018-08-05 14:33] #189 closed, assigned to nobody

[2018-08-05 16:34] wellyshen commented on #189
@maiconcarraro

SSR is good for SEO, UX, performance. Facebook is not using SSR for react but Facebook is **Universal** which means Facebook is some kind of SSR lol.

You are welcome, enjoying your React life man ;)

[2018-08-05 16:43] wellyshen commented on #191
@hasusuf If you don't use **css modules** you can turn it off from [here](https://github.com/wellyshen/react-cool-starter/blob/master/tools/webpack/config.babel.js#L16) and comment the **css modules hook part** out from [here](https://github.com/wellyshen/react-cool-starter/blob/master/tools/webpack/hooks.js#L11).

[2018-08-05 16:48] wellyshen commented on #6
@maiconcarraro Haha, dude you are very welcome. Maybe one day I visit your country then you can buy me a real coffee lol.

[2018-08-05 17:02] maiconcarraro commented on #6
@wellyshen absolutely! If you visit let me know 👍

Another feedback, `yarn build` has the command `rm -rf` that doesn't work on windows (at least on cmd, and powershell is a different parameter). I have **cmder**, so it's work great... but someone else can have this problem if try to build on default cmd (or visual code default terminal too)

I can help you if you need

[2018-08-05 18:28] hasusuf commented on #191
Thanks, @wellyshen for your reply!
The problem is that if I commented out the `css-modules-require-hook` definition, I will lose all `postcss-config` and Tailwind implementation as well [here](https://github.com/hasusuf/react-cool-starter-tailwind/blob/master/postcss.config.js#L8)

My problem is related to this [issue](https://github.com/css-modules/css-modules-require-hook/issues/58) and am wonde

[2018-08-06 03:25] wellyshen commented on #6
@maiconcarraro

Cool man. I used [rimraf](https://github.com/isaacs/rimraf) in the past. Can you help me check if it works on windows? Thanks.

[2018-08-06 11:51] maiconcarraro commented on #6
@wellyshen Sure, I can check if it works

[2018-08-06 15:34] wellyshen commented on #191
@hasusuf I will spend time to check your repo. Give me a simple reproduced environment as possible as you can.

[2018-08-06 16:17] maiconcarraro commented on #6
It's working @wellyshen

before:
![image](https://user-images.githubusercontent.com/13419087/43728275-f6629ffe-997a-11e8-9a05-f06847fb3eaf.png)

after:
![image](https://user-images.githubusercontent.com/13419087/43728317-1c0faf30-997b-11e8-89d8-6bc022204fa5.png)

thank you!

[2018-08-07 12:14] wellyshen commented on #6
@maiconcarraro Thank you a lot 👍

[2018-08-11 09:38] wellyshen commented on #191
@hasusuf

I create a [branch](https://github.com/wellyshen/react-cool-starter/tree/tailwind-css) based on yours. You can see how to **remove css modules hook** through it. The differences are:
- Remove all css modules from components.
- Import scss styles in client-side only (styles can't work in SSR).

[2018-08-12 11:55] hasusuf commented on #191
That's why I like this project the most! @wellyshen you rock 👍
Regarding the SSR, I will work on that and I will keep this issue updated.

[2018-08-12 11:58] wellyshen commented on #191
@hasusuf Cool keep going.

[2018-08-24 09:22] aagentah opened #192 "n/a"

[2018-08-24 10:18] #192 closed, assigned to nobody

[2018-08-25 08:48] denny64 commented on #6
@wellyshen Thanks for this awesome starter kit! Will need to buy you a beer :beer: if you ever come to Melbourne! We've used it to create DealDrop.com. Do you mind if I put a PR up to update your Real Case Study section?

(DealDrop.com is the best place to find verified coupon codes, deals, promos and offers for thousands of stores & brands you love. Never pay full price again :money_mouth_face:)

[2018-08-30 06:37] itgelo opened #193 "Private page and css body"
Lately I am very interested in this boilerplate,
and I am interested in learning it. but there are some things I like to know.

- How to make a good private page and public page in this boilerplate, which file do I need to edit.
- I have 2 pages, ie: `/logins` and `/dashboards` and each page has a different css body {}, can this boilerplate do it?

[2018-08-31 13:58] jbidston opened #194 "Bug - Analyze reports development bundle rather than production bundle"
### Expected Behavior
When running `yarn analyze` I expect the report to include analysis of production bundles.

### Actual Behavior
Analysis appears to be of development bundles. For example, `react-dom.development.js` appears instead of `react.dom-production.min.js`.

May be caused by `NODE_ENV=analyze` and not `NODE_ENV=production`.

### Your Environment
* Clint OS
`Mac OS Sierra 10.12.6`
* Br

[2018-08-31 16:47] wellyshen commented on #194
@jbidston Thank you man. It has been fixed on [v2.5.7](https://github.com/wellyshen/react-cool-starter/releases/tag/v2.5.7).

[2018-08-31 16:47] #194 closed, assigned to nobody

[2018-08-31 16:47] wellyshen commented on #193
@itgelo I'll spend time to reply your question.

[2018-09-01 15:33] wellyshen commented on #193
@itgelo

- For protected route: this starter use **react-router** therefore you can handle your protected route like [this](https://tylermcginnis.com/react-router-protected-routes-authentication/) (there're many authentication with react-router tutorials you can find on Google).

- For page styles: each page has its own `styles.scss`. you can define the `body { ... }` styles in it.

[2018-09-01 15:33] #193 closed, assigned to nobody

[2018-09-02 17:11] wellyshen commented on #6
@denny64 Wow, your product looks dope bro. Plz send me a PR. I'm glad to have it as my case study 💯 BTW, you owe me a beer 🍺lol.

[2018-09-27 09:27] TotallWAR opened #196 "Not working HMR when edit scss file with css modules"
### Do you want to report a bug or request a feature?
* Bug

### Expected Behavior
I edit scss file, save it and styles in browser are changing.

### Actual Behavior
I edit scss file, save it and in browser it happens nothing. I should reload page in beowser and only after this styles are applied.

### Your Environment
* Mac OS Sierra.
* The latest Chrome.
* Version of node - 10.0.0

[2018-09-27 15:53] wellyshen commented on #196
@TotallWAR css/sass hot reloading is support in [v2.6.0](https://github.com/wellyshen/react-cool-starter/releases/tag/v2.6.0)

[2018-09-27 15:53] #196 closed, assigned to nobody

[2018-09-28 12:10] TotallWAR commented on #196
Great! It works. Thank you!

[2018-09-30 11:47] MortezaT opened #197 "Loadable-component doesn't have any stratgies for prefetching"
### Do you want to report a bug or request a feature?
React cool starter uses `loadable-components` which [doesn't support prefetch of chunks](https://github.com/smooth-code/loadable-components/issues/77) in `SSR` and there is no future target towrad it.

### Expected Behavior
Replacing package with `react-loadable` would be beneficiary

### Actual Behavior
In `SSR` page rendering takes place with

[2018-09-30 14:58] saeedseyfi commented on #197
I have the same issue(FOUC) with my loadable components.
Please advise.

[2018-10-01 15:38] wellyshen commented on #197
@MortezaT I'll take time to consider about it, thanks

[2018-10-16 10:36] hitesh97 opened #200 "Hot module replacement on client doesnt seem to work"
### Do you want to report a bug or request a feature?
Cloned this repository and performed initial steps of "Yarn install" and then "yarn dev"
Project compile and opened url "http://localhost:3000" with landing page and user's list.

Changed simple text from '<h4>user list</h4>' on userList component to '<h4>User List Changed!!</h4>'

Saw on visual studio code, the compilation began and finished w

[2018-10-16 14:34] ghost opened #201 "Is it Possible to do redirects in routes.js"
Just a quick question is it possible to do a redirect in routes.js?

[2018-10-21 11:43] #160 closed, assigned to nobody

[2018-10-21 11:44] #67 closed, assigned to nobody

[2018-10-21 16:52] wellyshen commented on #201
@tom-seegreen Seems it's possible to use <Redirect /> component in routes config. You can refer [here](https://github.com/ReactTraining/react-router/issues/5138#issuecomment-311824053). Is that you want?

[2018-10-26 08:02] TotallWAR commented on #201
You can use redirect from ```import { Redirect } from 'react-router';```.
I tried this method but more flexible one for me is redirecting in lifecycle methods.

[2018-10-26 08:13] TotallWAR opened #202 "What is the best way to dispatch query params to store with prefetch actions?"
I tried to put action in route.js in loadData but it doesn't have effect.
I want query params to be put in store before componentDidMount action be executed it root component.
I also tried to wrap root component and execute action in componentDidMount AND in route.js for this component (which wrap all app).

Any advices?

[2018-10-26 15:08] TotallWAR commented on #202
I resolved the problem. I just dispatched it on server side from req.param.

[2018-10-26 15:08] #202 closed, assigned to nobody

[2018-10-26 15:28] TotallWAR commented on #24
Probably this issue is not the best place where i can ask you but why do i need all of the components and helpers in production version? I thought that i need only assets and server because everything is bundled, didn't i?

[2018-10-29 15:59] Rid commented on #197
I'm wondering if this is going to get merged soon? I'm holding out doing a big merge into my own existing project pending the outcome here, as I don't want to have to change everything twice 👍

[2018-10-30 12:40] wellyshen commented on #24
@TotallWAR Server-side runtime need those files.

[2018-10-30 12:50] wellyshen commented on #197
@Rid There's an [error](https://github.com/wellyshen/react-cool-starter/pull/198#issuecomment-427585030) in development. I can't find the root cause at this moment. I recommend you keep use `loadable-component` with this starter for now.

[2018-11-01 17:48] Rid commented on #197
@wellyshen @MortezaT The error should be fixed in #203, I found a couple issues:

1. We were forcing the dev env to do a fetch every time for the data, meaning the initial state was reset, this caused a loading page to appear when the data was loaded on the client (causing a mismatch between server and client renders)
2. The bundles included in the `renderHtml.js` were not correct, we were just pa

[2018-11-02 11:05] Rid commented on #197
It looks like https://github.com/smooth-code/loadable-components/issues/77 has been closed now as fixed, so apparently preloading works in `loadable-components`, I'll play around and get it working.

In terms of which library to use, `react-loadable` is no longer accepting issues, so I'm not sure if it's being actively maintained?

@wellyshen what's your opinion? I'm happy to make a PR as well for

[2018-11-02 16:34] Rid commented on #197
I have tried updating https://github.com/smooth-code/loadable-components to v4, however I have some issues https://github.com/smooth-code/loadable-components/issues/135.

My branch if you'd like to test is here: https://github.com/Rid/react-cool-starter/tree/feature/loadable-components-v4.

[2018-11-06 10:58] ghost commented on #201
@wellyshen Thanks for the link that's exactly it

[2018-11-10 18:49] MortezaT commented on #197
@wellyshen
I think it would be great if we have `SSR` only i developement since it cause lots of problems while developing like unwanted ans unrealistic errors and you have to rebuild the source for server most of the time.
But if you remove it from development mode both issues will solve the same time.

[2018-11-12 14:45] #197 closed, assigned to nobody

[2018-11-12 14:46] #201 closed, assigned to nobody

[2018-11-15 03:44] dayrlism10 opened #204 "RIght way to do login redirection"
Hi there,
can i know what is the right way to handle login authentication redirection?
just like how 404 work, if there is not login authenticate, redirect the user something like that,
i realise this is using react router config, have no clue how i can customise this, any suggestion please?

[2018-11-15 15:00] wellyshen commented on #204
@dayrlism10,
There're many ways to do authentication redirection with `react-router-config`.
You can do redirect via `render` method as this [discussion](https://github.com/ReactTraining/react-router/issues/4962#issuecomment-376567551) or use HOC to do redirect as this [discussion](https://github.com/ReactTraining/react-router/issues/4962#issuecomment-387275863).

[2018-11-22 01:25] dayrlism10 commented on #204
@wellykkstream
hi, i seems abit confuse with the solution, my route config kept giving error when i trying to place into this form, or attempt to modify the router config structure.

`
{
        path: "/restricted-area",
        render: (props) => isUserLoggedIn() ? <RestrictedArea/> : <Redirect to="/login"/>
},
`

[2018-11-22 01:32] dayrlism10 commented on #204
was wondering, if can you write a quick example with react cool starter, it will be great?

[2018-11-23 04:16] wellyshen commented on #204
@dayrlism10 I'll show you how when I have free time. Please stay passionate for finding solution.

[2018-11-23 05:15] dayrlism10 commented on #204
@wellyshen haha sure i am, i actually doing it in this way at the moment, but seems like not a good practice and also it will have a quick blink when im accessing restricted page.

[code]

[2018-11-23 17:49] wellyshen commented on #204
@dayrlism10 Seems `render` method works as expect. See this [example](https://github.com/wellyshen/react-cool-starter/blob/feature/auth-example/src/routes.js) for more detail.

[2018-11-27 08:22] dayrlism10 commented on #204
thanks so much! man, i think need to upgrade my dependencies, cause mine is all quite old, doest fit this feature. finally find out this is the matter lel

[2018-11-27 08:22] #204 closed, assigned to nobody

[2018-11-29 11:15] RomanBON opened #206 "If disable css modules - Imported css is working only in development mode, but not working in production mode"
## bug

### Expected Behavior

I set css-modules to disable, change scss imports. I want my component to work the same in both production and development mode.

### Actual Behavior

it's working only in development mode.

### Your Environment

- Ubuntu 18.04.1 LTS
- Chrome Version 70.0.3538.77 (Official Build) (64-bit) on Linux
- v10.10.0 node

[2018-11-29 15:25] ilkertuna commented on #206
I had the same problem.

In development mode, css modules are included in to bundles.
However, in production mode, css modules are not included in to bundles.

Dummy Solution:
include each css file in renderHtml.js
i.e.
<link href="/my-path/my-custom-css.css" media="screen, projection" rel="stylesheet" type="text/css">

Better Solution:
create the css folder in the public folder directory, then in

[2018-12-03 03:48] wellyshen commented on #206
@RomanBON Thank you, I will spend time to check it.

[2018-12-05 10:32] #206 closed, assigned to nobody

[2018-12-06 15:44] wellyshen commented on #206
@RomanBON Sorry, it is fixed in [this version](https://github.com/wellyshen/react-cool-starter/releases/tag/v2.8.3)

[2018-12-16 14:02] zilmasarjuna opened #207 "Hello Guys!! cannot bundle for production correctly.."
[code]
hello guys..
iam confuse why my app have different result between development and production..
thank you guys

[2018-12-16 14:05] zilmasarjuna commented on #207
maybe something wrong with my webpack ? thank you huys ..

[2018-12-18 16:24] wellyshen commented on #207
@zilmasarjuna I do a lot of improvements for this starter kit. If you just start you can try the latest commit version.

[2018-12-26 09:23] #207 closed, assigned to nobody

[2019-01-01 08:46] isaadabbasi commented on #3
Quick Solution:
This may not be the perfect solution but what i found it to be is way the node/test envs are reading the modules.
replace const/let with var and replicate the object in param assignment.
![solution1](https://user-images.githubusercontent.com/15571610/50571421-8e64be80-0dcb-11e9-9264-b29d73f340c9.PNG)

[2019-01-20 16:48] dennymiloen commented on #204
hi @wellyshen can you show the example again?the link was not found :(

[2019-01-22 07:35] wellyshen commented on #204
@dennymiloen Sorry I have deleted the branch. @dayrlism10 Would you love to show it to @dennymiloen ?

[2019-01-23 15:05] wellyshen commented on #200
@hitesh97 Sorry for replay lately. I have tested it in the latest commit. The hot reloading works as expect. Can you plz try it?

[2019-02-05 05:01] jocarsoft commented on #105
example please!

[2019-02-05 06:06] crescent-igor commented on #105
![screenshot from 2019-02-05 11-35-26](https://user-images.githubusercontent.com/31757907/52255837-3543f980-293a-11e9-9cfa-c7df5d4fb1f5.png)
Go to the LF /CRLF to toggle it

[2019-02-14 12:33] taime opened #208 "Integrity check failed for "listr-update-renderer""
### bug

error https://github.com/okonet/listr-update-renderer/tarball/upgrade-log-update: Integrity check failed for "listr-update-renderer" (computed integrity doesn't match our records, got "sha1-Bgc/qTFmJ3YHp4FPTh+DlgCBQUw=")
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.

### How to repeat:
[code]

### Your Environment
- Mac OS
- Node v11.7.0

[2019-02-14 12:36] alirezavalizade commented on #208
It's a problem in yarn.lock, If you remove it and then run `yarn install` again you will not see that,
But! this is a temporary solution, We'll fix it soon!

[2019-02-14 12:58] taime commented on #208
Thanks! May be we should remove it from repo then!

[2019-02-14 13:04] alirezavalizade commented on #208
No, it's nice to have it because of the dependencies. specially when you have large scale apps.

[2019-02-14 13:05] alirezavalizade commented on #208
@wellyshen

[2019-02-16 08:23] wellyshen commented on #208
@alirezavalizade What?

[2019-02-16 08:23] #208 closed, assigned to nobody

[2019-02-22 21:06] redlinecodes opened #209 "Rendering Routes error"
Bug - cloned, installed and built per instructions. Then ran yarn dev and got this error message in my Terminal: `===> Rendering routes error: ReferenceError: assets is not defined`

I'm guessing that error is referring to the 'assets' from this line: `.send(renderHtml(head, assets, htmlContent, initialState));`

So I looked in my /public/assets and I don't see any css files. Is that why its faili

[2019-02-24 04:42] wellyshen commented on #209
@redlinecodes Are there `loadable-assets.json` and `webpack-assets.json` in the public folder?

[2019-02-25 13:14] redlinecodes commented on #209
@wellyshen Yes there are.  Any other ideas?

[2019-02-25 15:28] wellyshen commented on #209
@redlinecodes Did you remove all the related reference  of `variables.scss` (e.g. https://github.com/wellyshen/react-cool-starter/blob/master/src/app/styles.scss#L1)

[2019-02-25 16:22] #200 closed, assigned to nobody

[2019-02-25 22:37] redlinecodes commented on #209
@wellyshen - Yes - is that causing this?

[2019-02-26 17:06] TotallWAR commented on #209
How can we get more info about error in react component on server side rendering?
I have an error in catch block in server.js with sending 404 status, but i can't detect where this error appeared?

[2019-02-27 19:54] mattcarlotta opened #210 "Disconnect between client-side and server-side rendering"
### Expected Behavior

Client-side and server-side should contain matching HTML.

### Actual Behavior

Saving a file updates the client-side, but it doesn't reflect on the server-side until the node process has been stopped and restarted.

### Reproduction

- Add any JSX element to a file (for example, add `<h1>Hello</h1>` to `components/UserList/index.js`)
- Refresh the page

Client updates on sa

[2019-03-01 08:07] wellyshen commented on #209
@TotallWAR You can use `Error Boundaries` API for catching the error of react component, plz refer to the doc => https://reactjs.org/docs/error-boundaries.html

[2019-03-01 08:07] wellyshen commented on #209
@redlinecodes May I see your repo?

[2019-03-02 00:22] mattcarlotta commented on #210
Figured out the problem. See fix here: https://github.com/nozzle/react-static/issues/144#issuecomment-348270365

[2019-03-02 00:22] #210 closed, assigned to nobody

[2019-03-03 09:00] wellyshen commented on #210
@mattcarlotta Thank you, learnt from you.

[2019-03-05 16:19] geekuality opened #212 "Upgrade lint-staged to 8.1.5"
### Expected Behavior

When initially running `yarn`, packages should install without errors.

### Actual Behavior

[code]

### Suggested fix

Upgrade `lint-staged` to [v8.1.5](https://github.com/okonet/lint-staged/releases/tag/v8.1.5) that fixes the problem by using original author's latest release (v0.5.0) of `listr-update-renderer` instead of an outdated fork used previously.

### Your Environm

[2019-03-05 17:00] wellyshen commented on #212
@geekuality Could you mind to send me a PR for fixing this issue?

[2019-03-05 20:30] taime opened #213 "ESLINT configuration ('__DEV__' is not defined)"
Got error when open server.js `'__DEV__' is not defined (eslint)`

I also got a lot of errors about `curly braces` in `if` statement  (there are no `curly braces`)

Is it some special type of javascript? Could somebody give you linter settings for this code?

[2019-03-05 20:51] taime commented on #213
Solved by adding **.eslintrc** file with this configs:

[code]

[2019-03-06 12:01] taime opened #214 "Get error after `yarn dev`"
`yarn dev` cause `ReferenceError: Element is not defined`

### How to repeat

[code]

### Full error log

[code]

### system:
mac os
node v11.7.0
yarn v1.13.0
npm v6.5.0

### Dependencies

[code]

[2019-03-07 11:55] #213 closed, assigned to nobody

[2019-03-07 11:56] taime commented on #214
Does somebody use this boilerplate? Am I the only won how tried `yarn dev` ?
how do you use it without `yarn dev` ?

[2019-03-07 12:17] taime commented on #214
Here is the solution:
add this line:
`var Element = typeof Element === "undefined" ? function () {} : Element; `
in `node_modules/react-router-dom/cjs/react-router-dom.js` at 208s

[2019-03-09 01:54] mattcarlotta commented on #214
I noticed this error too. Seems to happen randomly. Affects `npm` and `yarn`. Doesn't appear to be fixed in `react-router-dom@4.4.0-beta7` either. While the above fix may work, it shouldn't be considered a long-term viable solution.

[2019-03-09 11:31] wellyshen commented on #214
Waiting for the release of `react-router` to fix this bug (refer : https://github.com/ReactTraining/react-router/pull/6607)

[2019-03-09 19:21] taime commented on #214
How to prevent `react-router-dom.js` from been rewritten?
(Every day I had to do this fix, and next day again i see original react-router-dom.js in node_modules folder, and again I see this error....)

[2019-03-10 06:18] #212 closed, assigned to nobody

[2019-03-10 06:22] wellyshen commented on #214
@taime You can fork it and release a fixed version of repo. Then install the `react-router-dom` of yours.

[2019-03-10 07:49] mattcarlotta commented on #214
I published a temporary fix, as such, this package **will not** be maintained and should only be used for **development purposes only**.  The package is `react-router-dom` with the patch added, so technically you don't need `react-router-dom` as a dependency.  However, if `react-router-dom` is ever updated beyond `4.4.0-beta.7`, remove this package.

Click here for [installation instructions](http

[2019-03-11 13:21] wellyshen commented on #214
@mattcarlotta Great solution atm 👍

[2019-03-12 05:45] taime commented on #214
@wellyshen How to install react-router-dom from fork?

[2019-03-12 06:46] taime commented on #214
@mattcarlotta doesn't work, still got

[code]

[2019-03-12 08:05] mattcarlotta commented on #214
@taime I see the problem. I'll try to fix it later.

[2019-03-12 10:16] mattcarlotta commented on #214
@taime I managed to fix the problem for the time being. Remove the old `temp-react-router-dom` package and reinstall. Remove the `alias` from the `webpack.babel.config` and you'll need to change all `react-router-dom` imports to `temp-react-router-dom` imports. I'll look for a better solution in the coming days.

[2019-03-12 10:57] wellyshen commented on #214
@taime Plz refer [here](https://stackoverflow.com/questions/17509669/how-to-install-an-npm-package-from-github-directly)

[2019-03-12 15:33] taime commented on #214
@martin2786 about your idea with aliaces, may be something like this should work
[code]

@wellyshen thanks, but it looks like, I can not find in react-router repo place that should be fixed as I wrote above. Here is my fork repo https://github.com/taime/react-router, and I cant find `react-router-dom.js` there.

[2019-03-12 16:42] wellyshen commented on #214
@taime After you [build](https://github.com/taime/react-router/blob/master/packages/react-router-dom/package.json#L37) the library of `react-router-dom`, you can find where it's in [here](https://github.com/taime/react-router/blob/master/packages/react-router-dom/index.js)

[2019-03-12 17:44] mattcarlotta commented on #214
Alrighty, round 2! There appears to be a problem with using webpack's `alias` and `babel/register`. So here's a work around:

Step 1: Run ` yarn add -D babel-plugin-module-resolver`
Step 2: *OPTIONAL* - Run `yarn remove react-router-dom`
Step 3: Run `yarn add temp-react-router-dom`
Step 4: In the [package.json's babel config](https://github.com/wellyshen/react-cool-starter/blob/master/package.json

[2019-03-14 14:01] taime commented on #214
@mattcarlotta
Did exactly this steps. Got this error:

[code]

Have you tried this steps for yourself for clean install react-cool-starte? Does it work?

[2019-03-14 14:32] taime commented on #214
By the way, I've found another solution.
just install "**react-router-dom": "4.4.0-beta.6**"

steps:

**1) run**
[code]

**2) edit package.json** and change `react-router-dom": "^4.4.0-beta.6` to `react-router-dom": "4.4.0-beta.6`

**3) run**

[code]

[2019-03-14 14:51] mattcarlotta commented on #214
@taime Your problem is here:

`Error: [BABEL] /Users/tema/Sites/controlumMTS/SkedFrontend/tools/webpack/hooks.js: .alias is not a valid Plugin property`

You've added an `.alias` in the `webpack/hooks` file.

Anyway, try this [forked version](https://github.com/mattcarlotta/react-cool-starter).

[2019-03-14 20:04] ginna-baker opened #215 "Lint errors: Typescript used in .js files"
IDE linter complains because there is no .ts extension.

Also, there is no tslint config.  I'm new to react.  Am I missing something here?
<img width="688" alt="Screen Shot 2019-03-14 at 2 03 18 PM" src="https://user-images.githubusercontent.com/6732956/54387875-14ba3e00-4662-11e9-8ebc-c5bb8fe07d89.png">

[2019-03-15 12:27] wellyshen commented on #215
@ginna-baker I think you need [typescript-eslint](https://github.com/typescript-eslint/typescript-eslint) to let eslint works with typescript.

[2019-03-15 16:43] taime commented on #6
Could anyone please share **Docker**  files for deploy?
Why there is no Dockerfile and docker-compose.yml in repo? We have ssr here... so it would be nice to have docker here...

[2019-03-15 18:55] parties commented on #214
As of the latest NPM release ([`v6.9.0`](https://github.com/npm/cli/releases/tag/v6.9.0)) there is now support for aliasing packages. I was able to accomplish the same thing without a change to my babel configuration by installing the packages like so:
[code]

Side note: it looks like there aren't docs yet for the aliasing function within the install docs, but I was able to deduce the functionalit

[2019-03-15 19:14] mattcarlotta commented on #214
@parties Great find! That works well with one caveat: It shows up as installing `react-router-dom`, which may confuse inexperienced/unaware developers:

[code]

Since this just a temporary fix, I want to make sure it's obvious that `react-router-dom` isn't installed and that `temp-react-router-dom` is an `alias` for `react-router-dom`.

[2019-03-16 14:07] taime commented on #67
I think we should add **docker** files to repo!
Is there any explanation why do we still do not have it in repo?

[2019-03-16 14:08] taime commented on #67
@jmsherry could you please share your docker files with me?

[2019-03-16 18:03] #215 closed, assigned to nobody

[2019-03-16 18:31] wellyshen commented on #214
Fixed in [v2.8.5](https://github.com/wellyshen/react-cool-starter/releases/tag/v2.8.5)

[2019-03-16 18:31] #214 closed, assigned to nobody

[2019-03-16 18:33] wellyshen commented on #6
@taime Do you want to help?

[2019-03-16 20:40] taime commented on #6
@wellyshen yeah sure,
I’m pretty good at docker, but I don’t know the NodeJs at all... (actually I’m the python developer)
Do somebody have any files I could start from trying to make it ?

[2019-03-17 11:41] wellyshen commented on #6
@taime I think I can create a docker branch for you guys. Give me time to study it ;)

[2019-03-17 16:10] geng890518 opened #216 "prevent refreshing then it return to root page"
Hi, I need to prevent refreshing the page , then it jump to the root page . How can I do it??

[2019-03-18 03:44] wellyshen commented on #6
@taime [Here](https://github.com/wellyshen/react-cool-starter/tree/docker) you are.

[2019-03-19 03:56] taime commented on #6
@wellyshen thanks, I will try to make it work & share the results

[2019-03-19 06:17] wellyshen commented on #6
@taime Cool man

[2019-03-19 13:08] wellyshen commented on #216
@geng890518 Can you give me more detail about your case?

[2019-03-19 15:39] geng890518 commented on #216
@wellyshen My url is "/userInfo/1",  I press command + R, then the url become "/". Is there any way to let it stay the current page?

[2019-03-19 16:59] wellyshen commented on #216
@geng890518 Oh, this's a bug. It has been fixed in [v2.8.6](https://github.com/wellyshen/react-cool-starter/releases/tag/v2.8.6)

[2019-03-19 16:59] #216 closed, assigned to nobody

[2019-03-25 07:48] dayrlism10 opened #217 "rendering ant design with webpack not working"
### Do you want to report a bug or request a feature?

- For a bug report, describe your issue and tell me how to reproduce it (include screenshots, console messages or minimal demo repo). If this's a _usage question_, please **do not post it here**. Post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/reactjs) instead.
- For a feature request, describe the feature and tell me wh

[2019-03-29 14:28] mayur-padshala opened #218 "Inconsistent meta tags [SEO]"
### Do you want to report a bug or request a feature?

- I want to report a possible bug.

### Expected Behavior

Title and other meta tags should change on first load of the page. This can have adverse effects on my page's SEO behaviour.

### Actual Behavior

- When hitting an error page, the title and meta tag is not changed at first load. When reloading the page, the title changes.
- When going

[2019-03-29 16:09] wellyshen commented on #218
@mayur-novus This issue doesn't exist in the example pages of this starter kit. I am not sure if it's a bug of the starter kit. Can you check it?

[2019-03-29 16:10] wellyshen commented on #209
Close due to inactive

[2019-03-29 16:10] #209 closed, assigned to nobody

[2019-03-29 16:17] wellyshen commented on #217
@dayrlism10 Have you tried to turn `CSS Modules` off?

[2019-03-30 04:14] dayrlism10 commented on #217
after i turn it off it work, but all of the sass wont work

[2019-03-30 04:25] dayrlism10 commented on #217
okay, solved, i turn off only `modules: false,` for` /\.css$/` and `/\.(scss|sass)$/` remain true, then it work like charm ;) thanks bud

[2019-03-30 04:25] #217 closed, assigned to nobody

[2019-04-01 11:27] JaveedIshaq commented on #105
Thanks

[2019-04-02 23:30] aslapkov commented on #218
@wellyshen Hello man! Really, there is a bit problem of the SEO meta tags using `react-helmet` on this starter. After getting the first server rendering response, it shows the wrong meta.
You can check it easily, just open the console **DevTools** -> tab **Network**. Go to the new page, reload this page and choose the needed document, then go to the tab **Response**. Now we can see how looks like

[2019-04-03 18:05] wellyshen commented on #218
@aslapkov Thank you for your advice. Fix in [v2.8.7](https://github.com/wellyshen/react-cool-starter/releases/tag/v2.8.7).

[2019-04-03 18:05] #218 closed, assigned to nobody

[2019-04-08 17:29] mikejdegroot opened #220 "JS being run twice in production"
Hi,
Thanks for the great boilerplate! We just have a strange issue when the project is run in production.

On the dev server, network requests display as normal in devtools and the site works as expected. However, in production the requests are doubled up and the page even appears to render twice.

Whilst checking around the code I noticed that (in production) the main.***.js and main***.css file

[2019-04-11 14:17] wellyshen commented on #220
@mikejdegroot Fixed by [v2.8.8](https://github.com/wellyshen/react-cool-starter/releases/tag/v2.8.8). Thanks for @aslapkov 's help 👍

[2019-04-11 14:17] #220 closed, assigned to nobody

[2019-04-11 14:33] mikejdegroot commented on #220
Thank you guys!

[2019-04-12 21:27] gigamesh commented on #105
This only works for the currently selected file, correct? I'm trying to get eslint to run properly in windows on a repo that is all LF. Not having any luck with these suggestions.

[2019-04-18 03:56] francistm opened #222 "Push method from connected-react-router not working"
### Expected Behavior

[code]

Using `push` method which import from `connected-react-router` or dispatch it in connected action, will change the location to selected route.

Tell me what should happen.

### Actual Behavior

The url in browser changed, but previous component didn't unload, and next component did not load.

### Your Environment

- Client OS `OSX 10.14`
- Browser and its version `Fi

[2019-04-20 15:54] wellyshen commented on #222
@francistm Thank you for this bug reporting. It really helpful. I have released [v2.8.9](https://github.com/wellyshen/react-cool-starter/releases/tag/v2.8.9) for this bug fixing.

[2019-04-20 15:54] #222 closed, assigned to nobody

[2019-05-04 02:55] wshamim opened #223 "Feature Request: @svgr/webpack for SVGs are React Components"
I really like your starter but I got stuck in this minor thing.

This will help in using SVGs are react components and make SVGs easy to import and use it in our components.

[2019-05-04 03:02] joshuat commented on #223
Is there a benefit to @svgr/webpack over [babel-plugin-inline-react-svg](https://github.com/airbnb/babel-plugin-inline-react-svg)?

I only ask because I ran into this issue a few months ago as well and found that much easier to implement into the existing system than anything else. Just install and add it to your babel plugins array.

[2019-05-05 13:05] wellyshen commented on #223
@wshamim Wow it's a cool library. But some people are using .svg with img tag some prefer svg component. So as a start-kit I think it's an optional but not must.

[2019-05-07 16:02] #223 closed, assigned to nobody

[2019-05-20 18:11] xD3CODER opened #225 "Chunks are not splitted"
Hi,

I just noticed that code splitting though React-Loadable seems to not work anymore.

### Expected Behavior

Pages required with react-loadable should be split in different bundles

### Actual Behavior

All code is bundled inside a single chunk file

### Your Environment

- Node 10.8

[2019-05-20 20:38] Rid commented on #225
I've also noticed this issue, I've already fixed it in my project and I'll make a PR tomorrow for it here.

[2019-05-21 09:20] Rid commented on #225
This is now fixed in https://github.com/wellyshen/react-cool-starter/pull/226, @wellyshen ptal.

[2019-05-21 09:43] Rid opened #227 "[Discussion] eval-source-map over eval"
Thanks again for maintaining this awesome project @wellyshen.

I'd like to know your opinion on changing the `eval` source mapping to `eval-source-map`. Just to refresh you this is from the webpack docs:

`eval` - Each module is executed with `eval()` and `//@ sourceURL`. This is pretty fast. The main disadvantage is that it doesn't display line numbers correctly since it gets mapped to transpiled

[2019-05-22 10:15] xD3CODER commented on #225
Mmh, I tried your solution, but it doesn't seem to work any better.
I think it's time to move on [https://github.com/smooth-code/loadable-components](url) because react-loadable is not maintained and has not been updated since a long time

[2019-05-22 10:41] Rid commented on #225
@xD3CODER what is yarn analyze outputting? I've tested #226 and code splitting is definitely working. Are you using dynamic imports on the code which you want splitted?

We were previously using loadable-components, but you can see why we switched here: #197

[2019-05-22 11:01] xD3CODER commented on #225
That's weird, i'll retry this afternoon.

Now loadable-components support prefetch, and the library is recommanded by react team as alternative of lazy

[2019-05-22 11:17] Rid commented on #225
This was the main issue I had when trying to implement it here last time:
https://github.com/smooth-code/loadable-components/issues/135

It seems there are still some outstanding issues related to SSR:
https://github.com/smooth-code/loadable-components/issues/345
https://github.com/smooth-code/loadable-components/issues/343
https://github.com/smooth-code/loadable-components/issues/230

We would pr

[2019-05-22 12:13] Rid commented on #225
I will try loadable-components again today as I think most of those issues wouldn't apply here.

[2019-05-22 12:52] xD3CODER commented on #225
I just tried loadable-components I have the same issue:
[https://github.com/smooth-code/loadable-components/issues/135](url)

[2019-05-22 13:13] xD3CODER commented on #225
My fault, your fix works well

[2019-05-22 13:30] xD3CODER commented on #225
I made the same mistake with loadable-component, it's work well, i'll make a PR soon

[2019-05-22 13:36] #225 closed, assigned to nobody

[2019-05-22 14:08] wellyshen commented on #227
@Rid Sure, can you do it with PR #226 ?

[2019-05-23 09:44] Rid commented on #227
@wellyshen no problem, I've put it in #228

[2019-05-23 09:44] #227 closed, assigned to nobody

[2019-07-10 09:29] dayrlism10 commented on #204
@dennymiloen did not notice this thread somehow, sorry for the late
in your route config you could do it this way.

[code]

[2019-07-12 19:01] amerllica opened #229 "Dictation mistakes"
### I wanna report some dictation mistakes

### Expected Behavior

In some configs files, there are many wrong dictation mistakes.

### Actual Behavior

Tell me what happens instead.

### Your Environment

- Client OS: Mac OSX
- Browser and its version: Google Chrome -latest
- The version of node: 10

[2019-07-13 19:52] amerllica opened #231 "Implementing absolute path"
### It is a feature

- Importing component by using relative path causes to see the hell-dots issue. it is hard to read and make the project dirty.

### Expected Behavior
In these settings when projects going on development, we will see the line of imports like below:

    import SomeComponent from '../../../../../../components';
    import fooHandler from '../../../../utils/helpers';
    ...

###

[2019-07-14 12:50] amerllica opened #232 "Using Redux-Saga instead of Redux-Thunk"
### I wanna ask a feature

- Based on [this article](https://is.gd/fkvY3x) Using Redux-Saga has some benefits to Redux-Thunk

### Expected Behavior

Handling asynchronous actions buy using Redux-Saga

### Actual Behavior

But now all of the asynchronous actions are handled by using Redux-Thunk

### Your Environment

- Client OS: Mac OSX
- Browser and its version: Google Chrome -latest version
- Th

[2019-07-15 06:31] dayrlism10 commented on #232
i think redux-saga is a nice too.

[2019-07-15 06:41] amerllica commented on #232
Dear @dayrlism10, yes the `Redux-Saga` is nice but actually, it has many benefits to `redux-thunk`

[2019-07-15 06:47] dayrlism10 commented on #232
you mean redux sage and redux thunk can work together?

[2019-07-15 07:37] amerllica commented on #232
@dayrlism10 , Absolutely, Both can work together but I don't mean that you said. I mean we could implement `Redux-Saga` and completely remove `redux-thunk`.

[2019-07-16 03:03] dayrlism10 opened #233 "subroute not fetching route props using withRouter"
### Question

### Expected Behavior

-receiving route props for react router config

### Actual Behavior

-did not pass on route props even i change the route config into this way or import also withRouter.

 routes.js
[code]

pages that to receive {this.renderLayouts(route.routes)}
[code]

### Your Environment

- Client OS: Mac
- Browser and its version: 75.0.3770.100
- Version of node: v10.16.0

[2019-07-18 16:31] wellyshen commented on #231
@amerllica Some think absolute path isn't a good practice and some like it. As a starter-kit. I prefer let developer to setup it by themself.

[2019-07-18 16:31] #231 closed, assigned to nobody

[2019-07-18 16:33] wellyshen commented on #229
@amerllica I leave a comment, plz take time to see it :)

[2019-07-19 06:43] dayrlism10 commented on #231
can i know how to configure that absolute paths, in webpack?

[2019-07-19 10:22] amerllica commented on #229
@wellyshen, Where do you leave a comment? I see my PR now but I don't see your comment anywhere.

[2019-07-21 05:36] wellyshen commented on #229
@amerllica [Here](https://github.com/wellyshen/react-cool-starter/pull/230/files#diff-808ea934e145b719cd0a30abda96c283R8)

[2019-07-21 05:39] wellyshen commented on #231
@dayrlism10 [Here](https://webpack.js.org/configuration/resolve/) you are

[2019-07-21 06:15] amerllica commented on #229
Dear @wellyshen, your Starter is awesome, it's a true fact, but the comment has typo mistake. I make a PR to fix it. I cannot understand:

Do I make a mistake? Do I do something wrong?

![Screen Shot 2019-07-21 at 10 44 32](https://user-images.githubusercontent.com/10472437/61587730-9720b480-aba4-11e9-96ff-9df909292463.png)

I see it, there is no review comment.

[2019-07-21 06:17] wellyshen commented on #229
@amerllica It's fine just a little thing I will handle it, I am going to merge your PR, 3Q

[2019-07-21 06:17] #229 closed, assigned to nobody

[2019-07-21 06:29] amerllica commented on #231
Dear @dayrlism10, by using `resolve` and `alias` you can set _absolute path_. And if you use JetBrains IDEs to develop you should set your webpack configuration file inside **Settings > Language and Frameworks > JavaScript > Webpack**.

But for Cool Starter in the earlier version, I set the absolute path and it doesn't work properly. maybe in the latest version, it works.

[2019-07-21 16:10] wellyshen commented on #232
@amerllica Redux-Saga is great but more learning curve. Some ppl don't need it that's why I choice Redux bcz it's basic and common.

[2019-07-21 16:10] #232 closed, assigned to nobody

[2019-07-21 16:11] wellyshen commented on #233
@dayrlism10 I will spend time to look into it.

[2019-07-28 16:32] wellyshen commented on #233
@dayrlism10 How can I reproduce it?

[2019-07-29 02:29] dayrlism10 commented on #233
from the subroute page component, you won't be able to call `this.props.route`

[2019-07-31 16:42] wellyshen commented on #233
@dayrlism10 How did you construct your `sub-route` any example?

[2019-08-01 08:14] wellyshen commented on #233
@dayrlism10 It should be fixed by [pass `props` for async pages](https://github.com/wellyshen/react-cool-starter/blob/master/src/pages/Home/index.js#L12). You can try the latest [version](https://github.com/wellyshen/react-cool-starter/releases/tag/v2.9.4). You can also visit [react-router-config](https://github.com/ReactTraining/react-router/tree/master/packages/react-router-config) for more info

[2019-08-01 10:56] dayrlism10 commented on #233
awesome, it work

[2019-08-01 10:56] #233 closed, assigned to nobody

[2019-08-09 08:13] hienhuynhtm opened #234 "question: why don't use renderToNodeStream instead of renderToString?"
Hi guys,
I love this boilerplace, very clean. But I have a question about **react-dom/server**

**Why don't we use renderToNodeStream instead of renderToString?**

[code]

[2019-08-10 15:38] redlinecodes commented on #209
@wellyshen - sorry about that - got diverted away from this for awhile. I did get it working and it was scss scenario. Thanks for your great support!

[2019-08-10 18:50] redlinecodes opened #235 "How hard to add a proxy?"
I'd like to add a proxy to this so that I can add my Nodejs backend (login etc), any thoughts/suggestions or simple example?

[2019-08-14 02:17] hienhuynhtm commented on #235
it quite easy, just do 2 following steps:

- in **server.js**: add this line
`require('./routes.js')(app);`
- add new file called **routes.js**:
[code]

[2019-08-16 04:54] amitava82 opened #236 "importing scss from node_modules causes build to fail"
### Bug
Importing a scss (eg, bootstrap) fails with error
[code]
This happens when import is done in lazy loaded component. How to reproduce:
1. add `@import "~bootstrap/scss/bootstrap";` at the top of `pages/UserInfo/styles.scss`
2. directly navigate to `http://localhost:3000/UserInfo/1` or refresh page. It'll show "Not Found :(" and above error in console.

Seems to work if imported to top level

[2019-08-16 11:18] Rid commented on #234
I've made a fork to test this here: https://github.com/Rid/react-cool-starter

However there are a few issues:
1. Flickering on initial render as the CSS has to be loaded after renderToNodeStream due to CSS extraction
2. We're unable to minify the html as you need the complete rendered html in order to minify

You're welcome to fork my fork and see if you can address these issues some other way.

[2019-08-18 15:12] wellyshen commented on #234
@hienhuynhtm @Rid Yea, we need to spend time to refactor the structure of SSR to implement `renderToNodeStream`. Do you guy want to send me a PR ;)

[2019-08-18 15:13] wellyshen commented on #235
@redlinecodes What kind of proxy do you want? Can you give me more detail.

[2019-08-18 15:17] wellyshen commented on #236
@amitava82 Yup, it's better to import global style in top level. Anything I can help you?

[2019-08-18 15:28] amitava82 commented on #236
Should be able to import scss from node_nodules relavant for each chunk.
This seems to be a bug that importing from node modules fails but not for
Local scss files. Importing everything in single file isn't optimal for a
large app.

On Sun, Aug 18, 2019, 8:47 PM Welly <notifications@github.com> wrote:

[2019-08-18 15:37] wellyshen commented on #236
@amitava82 I will check it.

[2019-08-20 16:24] FarazPatankar commented on #191
Recently came across this starter and we're planning to use it for our application but I am running into the same issue trying to add Tailwind. I don't need css modules and tried turning them off but the import for tailwind styles fails. Any pointers/suggestions? @wellyshen @hasusuf

[2019-08-20 16:58] redlinecodes commented on #235
@wellyshen - just something simple so that instead of using jsonplaceholder and `headers: { 'Allow-Control-Allow-Origin': '*' },`

I can use my own auth backend

[2019-08-20 16:59] redlinecodes commented on #235
Clicked the wrong button - DIDN'T mean to close it....

[2019-08-20 17:01] redlinecodes commented on #235
@wellyshen Maybe something with express-http-proxy?

[2019-08-21 11:12] wellyshen commented on #236
@amitava82 I can import bootstrap.scss from UserInfo.scss without building error, plz [see here](https://github.com/wellyshen/react-cool-starter/tree/example/bootstrap)

[2019-08-21 11:47] wellyshen commented on #191
@hasusuf Can you help with it ☝️with your "TailwindCss" experience?

[2019-08-21 13:47] wellyshen commented on #235
@redlinecodes I think you can do it by follow their [example](https://github.com/villadora/express-http-proxy#example). It's easy.

[2019-08-21 13:47] #235 closed, assigned to nobody

[2019-08-21 14:34] FarazPatankar commented on #191
@wellyshen Do you have any pointers for this? I tried disabling CSS modules and even the hook in `hooks.js` and then loading tailwind styles only in `client.js` but then they don't apply at all.

Any ideas on how I can get a basic version up and running with Tailwind?

[2019-08-21 14:59] wellyshen commented on #191
@FarazPatankar I will spend time to see how to integrate it with this starter-kit. But not today, I need to work tomorrow...

[2019-08-21 16:04] redlinecodes commented on #235
@wellyshen thanks for the link. Sometimes I google/search too much and forget about the docs.

[2019-08-22 10:47] wellyshen commented on #191
@hasusuf It's not hard to integrate Tailwind-Css with this starter, you can see this [example](https://github.com/wellyshen/react-cool-starter/tree/example/tailwind-css). I only did two things:
1. Follow the [doc](https://tailwindcss.com/docs/installation/#using-tailwind-cli) to compile it
2. Import it [here](https://github.com/wellyshen/react-cool-starter/blob/example/tailwind-css/src/app/index.j

[2019-08-22 10:47] #191 closed, assigned to nobody

[2019-08-22 10:55] FarazPatankar commented on #191
With this approach, we'd manually have to build Tailwind every time we make a change to the config, right?

I followed an approach similar to yours but I tried adding it in the postcss config and that's when I kept getting the error that this issue is about.

[2019-08-22 14:43] redlinecodes opened #237 "Why is connected-react-router used?"
@wellyshen  I'm not questioning WHY its used - just exactly what it is. I've been doing some searching and reading but there's no real clear explanation on what it is - except that its a redux binding for React Router 4/5.

What would be a use case for why you would want navigation done by redux? What exactly is the benefit?

[2019-08-22 16:47] wellyshen commented on #191
@FarazPatankar It's the easiest way that I found to integrate with this starter. You don't need to build it manually. You can integrate it with commands where you need. e.g `"dev": yarn tailwind && better-npm-run dev`.

[2019-08-23 09:24] hienhuynhtm commented on #234
@Rid I'll check your fork, then see that I can fix or not. Anyway, thanks for your support.
@wellyshen your project structure & coding standard looks great, I love it 👍

[2019-08-23 10:04] amitava82 commented on #236
@wellyshen Nope, I tried your branch, it does not work. navigate to `http://localhost:3000/UserInfo/1` and then hit refresh browser.

![Screenshot 2019-08-23 at 3 33 51 PM](https://user-images.githubusercontent.com/1279530/63584853-7096d480-c5bb-11e9-9417-c6d6548672ba.png)

[2019-08-24 11:19] wellyshen commented on #237
@redlinecodes With this library you can access react-router's `history` within redux's data flow. e.g. action creator.

[2019-08-24 15:06] redlinecodes commented on #237
@wellyshen So then you could possibly look at the user's history of navigation on the site?

[2019-08-25 06:51] wellyshen commented on #236
@amitava82 How did you try my branch? I didn't see error on `http://localhost:3000/UserInfo/1`

[2019-08-25 06:55] wellyshen commented on #237
@redlinecodes You can see these data in redux store:
<img width="794" alt="螢幕快照 2019-08-25 下午2 53 56" src="https://user-images.githubusercontent.com/21308003/63646626-46bee880-c748-11e9-9512-d83c89d873df.png">

[2019-08-25 06:56] wellyshen commented on #237
This's not an issue, so I close it.

[2019-08-25 06:56] #237 closed, assigned to nobody

[2019-08-25 06:58] amitava82 commented on #236
Usual git clone and check out your bootstrap branch

On Sun, Aug 25, 2019, 12:21 PM Welly <notifications@github.com> wrote:

[2019-08-26 17:14] wellyshen commented on #236
@amitava82 So wired... May I know your environment? e.g. node version, OS etc.

[2019-08-27 02:04] amitava82 commented on #236
node v8.15.1, OSX latest.

[2019-08-27 13:53] wellyshen commented on #236
@amitava82 Can you try it with higher node.js version (see [doc](https://github.com/wellyshen/react-cool-starter#requirements))

[2019-08-27 13:58] amitava82 commented on #236
Used `v12.1.0`, but no luck.

[2019-08-28 11:16] hienhuynhtm opened #238 ""SyntaxError: Unexpected token *" issue"
hi @wellyshen @Rid,
Do you guys have experience with below issue, I got stuck with it for a day, and still don't know how to fix. Please help me :).

**Before add `babel-loader` config to `config.babel.js`, I got below error**
![image](https://user-images.githubusercontent.com/23022945/63858164-39675f80-c9cf-11e9-8c1a-c5b51fed2106.png)

**After add this configuration to `config.babel.js`, I solved

[2019-08-28 11:37] Rid commented on #238
@hienhuynhtm can you let us know the command you're running when you get this error?

i.e. yarn dev or yarn build && yarn start

[2019-08-28 13:00] hienhuynhtm commented on #238
@Rid I got error when run `yarn dev`

[2019-08-28 13:09] hienhuynhtm commented on #238
@Rid I updated the `error details` for more clearer

[2019-08-28 14:42] Rid commented on #238
Please confirm that your package.json contains:

[code]

Do you have a link to the repository you're working from?

[2019-08-29 02:09] hienhuynhtm commented on #238
@Rid yes, my `babel` config on package.json, I don't change it:

![image](https://user-images.githubusercontent.com/23022945/63904989-f93ec600-ca3c-11e9-83c4-05ee7e9bf33f.png)

I'll upload my repo to github, but the problem: the `package cause ES6 problem is private`.
This one: "@ansarada/ace-react": "^13.6.0",

[2019-08-29 02:27] hienhuynhtm commented on #238
@Rid here my repository: https://github.com/hienhuynhtm/react-cool-starter
note: I included node_modules too, then you can run easily.

1. I add babel.config.js to solve some problems
![image](https://user-images.githubusercontent.com/23022945/63905647-15436700-ca3f-11e9-9698-5c66e77672d7.png)
2. I add this `babel-loader` to config.babel.js too
![image](https://user-images.githubusercontent.com/23

[2019-08-29 02:58] hienhuynhtm commented on #236
@amitava82 how about removing `~` character.
In my project, I just use like below and it works
`import '@package/folder_name/dist/ace.css';`

[2019-08-29 03:05] amitava82 commented on #236
Yeah importing like so `@import 'node_modules/bootstrap/scss/bootstrap';`
works.

[2019-08-29 03:11] hienhuynhtm commented on #6
I tried a lot of `universal starter kits`, but I love this starter kit, looks clean & simple.

[2019-08-29 03:14] hienhuynhtm commented on #238
@Rid how about `pirates` for `hooks`: https://github.com/nesterow/pirates-examle ?

[2019-08-29 04:07] hienhuynhtm commented on #238
I solved it, with `pirates hook`.
Details:

[code]

[2019-08-29 04:10] hienhuynhtm commented on #238
@Rid thank you so much for your kind support <3

[2019-08-29 04:10] #238 closed, assigned to nobody

[2019-08-31 14:34] #236 closed, assigned to nobody

[2019-09-01 13:58] hienhuynhtm opened #239 "Heroku deploy support?"
I'm trying to deploy to `Heroku` but no luck, it seems that our code-based does not support for running on `Heroku`.
Do we have any ideas about it?

Thanks.

[2019-09-01 14:02] hienhuynhtm commented on #239
it seems duplicated, I'm checking other issues

[2019-09-01 14:02] #239 closed, assigned to nobody

[2019-09-10 21:06] redlinecodes opened #240 "How can create a separate server bundle?"
This starter is Awesome, really nice work!

My only wish is that the server was packaged in a separate bundle so that I can put some api keys in there. So basically I would have all the separate chunks for client side code and then one bundle for the server - so that I can put sensitive info in there (api keys).

I see that basically the server runs with require('server') in the src/index file and

[2019-09-13 08:48] wellyshen commented on #240
@redlinecodes If you want to optimize the boosting of your web app by server-side bundle, you need to do:
- Create server-side webpack config
- Adjust script command to access the bundled server-side file in production

There're many resources of SSR bundled that you can find on internet such as this [one](https://medium.com/@christossotiriou/speed-up-nodejs-server-side-development-with-webpack-4-

[2019-09-13 08:49] #240 closed, assigned to nobody

[2019-09-16 16:08] redlinecodes commented on #240
@wellyshen - thanks! Again, really nice work - its clean and simple :)

[2019-09-17 06:37] rtagithub opened #241 "TypeError: Cannot read property 'add' of undefined"
Thank you for the boilerplate that is very helpful for me.
The problem I  faced with is  the cooler stater compatibility with ant.design that is our hand to develop react SSR web application.
Additionally we need to do some test with jest and enzyme on the component but I faced with the following problem:

 FAIL  src/components/Sidebar/Sidebar.test.js
  ● Test suite failed to run

    TypeError: C

[2019-09-20 17:16] redlinecodes commented on #240
@wellyshen - 1 more quick question. Is the /src/tools/webpack/hooks.js file - is that all the css processing for the server side? All that would need to be included in a webpack config for a server-side bundle?

[2019-09-27 16:11] wellyshen commented on #241
@rtagithub This is the issue between `ant` and `jest`. Have you found the solution?

[2019-09-27 17:09] wellyshen commented on #240
@redlinecodes It's assets runtime bundler for SSR. I think them already in the webpack config. If you bundle SSR for production. You can skip the `hook.js` by env.

[2019-09-29 06:30] rtagithub commented on #241
yes we done it here https://github.com/parham-fazlali/react-panda

[2019-09-29 17:08] wellyshen commented on #241
@rtagithub I just see a panda on README bro...

[2019-09-30 07:06] #241 closed, assigned to nobody

[2019-10-06 06:25] hienhuynhtm opened #242 "How to add static files to public folder?"
Hi guys,
I'm trying to add `manifest.json` & `service-worker.js` to allow `PWA` feature. Below are my steps:

1. in `renderHtml.js`, I'm trying to add those lines
`<link rel="manifest" href="/manifest.json">`

2. I added 2 files to public folder:
![image](https://user-images.githubusercontent.com/23022945/66265171-e8ebe900-e83b-11e9-9af6-799f0a66ce75.png)

![image](https://user-images.githubuserco

[2019-10-06 16:45] wellyshen commented on #242
@hienhuynhtm Interesting issue. I will find time to configure out how to achieve it 👍

[2019-10-08 17:34] redlinecodes opened #243 "How to deploy to AWS Beanstalk"
I'm used to putting my build files from create-react-app on S3 and connecting that to Cloudfront to deploy my SPAs. This is my first time with an SSR app...

I know I need to deploy on Beanstalk because I need the express server... other than that I'm not sure what to do after I run yarn build and where to put those files? Any help would be great!!

[2019-10-10 17:40] wellyshen commented on #243
@redlinecodes I'll write a document on README tomorrow.

[2019-10-11 08:23] wellyshen commented on #243
@redlinecodes You can refer [here](https://github.com/wellyshen/react-cool-starter#how-to-deploy)

[2019-10-11 08:24] #243 closed, assigned to nobody

[2019-10-11 13:53] redlinecodes commented on #243
@wellyshen Awesome! Thanks :)

[2019-10-27 09:56] amerllica opened #245 "Using better config for CSS Modules to have more compact CSS bundle file."
### Having the most compressed CSS bundle file. (feature)
- Actually, around two years ago I saw [FlipKart](https://flipkart.com) HTML source and then I realized their CSS class names are very short and hashed. I seek and found its tech name is `CSS Modules`. I implemented it on [DIGIKALA](https://digikala.com) (the biggest middle-east e-commerce) react pages and reduced the CSS bundle file from 3

[2019-10-27 10:17] amerllica opened #247 "No map file for production level"
### No map file needed for production level (feature)

- For the production level, there is no need to have `map` files because downloading and parsing and mapping them have a large cost for clients browsers, especially for mobile devices.

### Expected Behavior

For production, the project shouldn't generate `map` files for JavaScript and CSS bundles. this awesome starter should be very light in

[2019-10-27 10:24] amerllica opened #249 "Omit comments from CSS bundle file"
### The bundled CSS files shouldn't include comments (feature)

- In the production version, there is no need to see comments on the CSS bundled files.

### Expected Behavior

No existing comments on CSS bundled files.

### Actual Behavior

After the production build, there are many comments on the CSS bundled file.

### Your Environment

- Client OS: all
- Browser and its version: all
- Version o

[2019-10-27 10:29] amerllica commented on #249
Dear @wellyshen, It's very weird to me. the `normalize.css` have comments on its CSS but why? even I don't know where the `normalize.css` file come from?

[2019-10-27 10:32] wellyshen commented on #249
@amerllica Is [that] (https://github.com/wellyshen/react-cool-starter/blob/master/src/app/index.tsx#L9) you are looking for?

[2019-10-27 10:33] amerllica opened #251 "Uglify JavaScript bundled file"
### Uglify JavaScript bundled file to have more compressed bundles.

- For the production build, we should have the most compressed JavaScript bundled files. with uglifying, we could build it better.

### Expected Behavior

More ugly bundles to have more compressed bundles.

### Actual Behavior

The bundles' compression does not satisfy me.

### Your Environment

- Client OS: all
- Browser and its

[2019-10-27 10:34] wellyshen commented on #247
@amerllica I agree.

[2019-10-27 10:37] wellyshen commented on #251
@amerllica Can you help with this issue?

[2019-10-27 10:46] amerllica commented on #251
Dear @wellyshen, I sent `PR`s for all of my issues. Please check the PR tab.

[2019-10-27 10:48] wellyshen commented on #251
@amerllica Nice job bro! I'll review the PR ASAP (I am going to gym now), thanks!

[2019-10-27 10:49] amerllica commented on #249
Thanks for your guide. Dear @wellyshen, If you're agreed, I wanna omit `normalize.css` from its place and complete the theme folder, then I will place the `normalize.css` in the theme folder. maybe a developer wanna use `reset.css`.

[2019-10-27 10:50] wellyshen commented on #249
@amerllica Sure go ahead.

[2019-10-27 10:54] amerllica commented on #247
Thanks, dear @wellyshen, I leave a separate PR for each issue. after your code review and accepting we have them on our lovely starter.

[2019-10-27 11:10] amerllica opened #253 "Involving .env and environment variables"
### Involving .env and environment variables (feature)

- Actually, all of us know, some config variables are a detached concept from our projects. like the main API URL of endpoints. or like the main PORT of production running or etc. it means after a build when we deliver the product to the DevOps team, they should just run it, with their desired API URLs or their own PORTs. these config variabl

[2019-10-27 11:23] amerllica commented on #253
![image](https://user-images.githubusercontent.com/10472437/67633686-20dcce00-f8c8-11e9-8f41-d1e1d19e382c.png)

Due to the above picture, we see the `API_URL` is declared in the project file, it should declared in a way that the DevOps engineers will change it after developers build. it should come from the environment. something like below:

    // separated urls.ts file
    export const Urls = {

[2019-10-27 12:17] amerllica opened #254 "Why we don't put some build files inside git ignore?"
### Why we don't put some build files inside git ignore? (question)

- Why after each build, we have `loadable-stats.json` and `webpack-stats.json` file in the git tracker? Isn't better put them in the `.gitignore` file?

### Expected Behavior

Each build file should get ignore from the git tracker.

### Actual Behavior

But, for each builds the git tracker shows the `loadable-stats.json` and `web

[2019-10-27 12:45] amerllica opened #256 "Having trailing comma"
### Having trailing comma (feature)

- For code movement and replacement, the `trailing-comma` is a lovely feature.

### Expected Behavior

At the end of **multi-line** _Objects or Array_  we should have a trailing comma.

### Actual Behavior

We don't have it.

### Your Environment

- Client OS: all
- Browser and its version: all
- Version of node: all

[2019-10-27 17:16] amerllica commented on #253
Dear @wellyshen, why the Travis build fall into an error, it happens because of the env variable. I set a new Travis variable inside `.travis.yml` file, and push it again, but it doesn't fix.

[2019-10-28 03:02] #245 closed, assigned to nobody

[2019-10-28 03:35] #256 closed, assigned to nobody

[2019-10-28 09:19] wellyshen commented on #253
Close due to https://github.com/wellyshen/react-cool-starter/pull/255#issuecomment-546859195

[2019-10-28 09:19] #253 closed, assigned to nobody

[2019-10-28 09:19] wellyshen commented on #256
Close due to https://github.com/wellyshen/react-cool-starter/pull/257#issuecomment-546778642

[2019-10-29 15:03] wellyshen commented on #251
@amerllica Close due to https://github.com/wellyshen/react-cool-starter/pull/252#issuecomment-547465741

[2019-10-29 15:03] #251 closed, assigned to nobody

[2019-10-29 15:07] wellyshen commented on #247
Close due to https://github.com/wellyshen/react-cool-starter/pull/248#issuecomment-547467987

[2019-10-29 15:07] #247 closed, assigned to nobody

[2019-10-29 15:08] #249 closed, assigned to nobody

[2019-10-29 15:21] wellyshen commented on #254
Fixed via [v3.2.2](https://github.com/wellyshen/react-cool-starter/releases/tag/v3.2.2)

[2019-10-29 15:21] #254 closed, assigned to nobody

[2019-11-01 20:48] redlinecodes commented on #98
I don't mean to reopen the issue, but is all this still relevant?  I literally just installed pm2 globally on my local machine and then went into my local folder for this repo and ran the command pm2 start index.js and it just started right up... ??

[2019-11-04 08:01] wellyshen commented on #98
@redlinecodes Don't forget the necessary process.env, for example:

[code]

[2019-11-17 23:27] rambudha commented on #6
I'm getting window is not defined error while executing the project even after the extension on my chorme. what might be the issue?

[2019-11-18 14:41] wellyshen commented on #6
@RamBudha `window` object and it's related APIs only can be accessed in client-side, plz make sure you didn't use it directly in server-side like below:

[code]

[2019-11-23 21:44] greenkeeper[bot] opened #262 "An in-range update of @types/react is breaking the build 🚨"
## The devDependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.9.12` to `16.9.13`.

🚨 [View failing branch](https://github.com/wellyshen/react-cool-starter/compare/master...wellyshen:greenkeeper%2F%40types%2Freact-16.9.13).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types

[2019-11-24 06:55] #262 closed, assigned to nobody

[2019-12-02 18:37] greenkeeper[bot] opened #267 "An in-range update of core-js is breaking the build 🚨"
## The dependency [core-js](https://github.com/zloirock/core-js) was updated from `3.4.6` to `3.4.7`.

🚨 [View failing branch](https://github.com/wellyshen/react-cool-starter/compare/master...wellyshen:greenkeeper%2Fcore-js-3.4.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

core-js is a direct dependency of this proje

[2019-12-02 18:52] greenkeeper[bot] opened #268 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.9.0` to `2.10.0`.

🚨 [View failing branch](https://github.com/wellyshen/react-cool-starter/compare/master...wellyshen:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-2.10.0).

This version is **covered** by your **current version range** and after updating it in yo

[2019-12-02 19:24] greenkeeper[bot] opened #269 "An in-range update of @types/react is breaking the build 🚨"
## The devDependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.9.13` to `16.9.14`.

🚨 [View failing branch](https://github.com/wellyshen/react-cool-starter/compare/master...wellyshen:greenkeeper%2F%40types%2Freact-16.9.14).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types

[2019-12-03 12:21] #269 closed, assigned to nobody

[2019-12-03 12:22] #267 closed, assigned to nobody

[2019-12-03 12:22] #268 closed, assigned to nobody

[2019-12-05 00:35] greenkeeper[bot] opened #270 "An in-range update of @types/react is breaking the build 🚨"
## The devDependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.9.14` to `16.9.15`.

🚨 [View failing branch](https://github.com/wellyshen/react-cool-starter/compare/master...wellyshen:greenkeeper%2F%40types%2Freact-16.9.15).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types

[2019-12-06 16:42] redlinecodes opened #273 "Adding Material UI"
First I know this is NOT an issue with this great repo, I just need a little help integrating it. I can get the button to render as shown [here](https://material-ui.com/getting-started/usage/), however, it displays without any styles.

I believe I followed their integration guide and adjusted where necessary for react cool starter:
In client.js
`// added for Material UI
import CssBaseline from '@m

[2019-12-07 15:48] #270 closed, assigned to nobody

[2019-12-07 15:56] wellyshen commented on #273
@redlinecodes I'll spend time to see it.

[2019-12-09 07:22] greenkeeper[bot] opened #275 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## The devDependency [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) was updated from `2.18.2` to `2.19.0`.

🚨 [View failing branch](https://github.com/wellyshen/react-cool-starter/compare/master...wellyshen:greenkeeper%2Feslint-plugin-import-2.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-12-09 11:04] wellyshen commented on #273
@redlinecodes I just follow the [doc](https://material-ui.com/guides/server-rendering/#server-rendering) then BOOM! You can follow this [branch](https://github.com/wellyshen/react-cool-starter/tree/example/material-ui) to integrate it.

<img width="857" alt="螢幕快照 2019-12-09 下午7 00 17" src="https://user-images.githubusercontent.com/21308003/70430809-8f5f9f00-1ab6-11ea-86ee-f0003a9f71db.png">

[2019-12-09 12:23] #275 closed, assigned to nobody

[2019-12-09 13:43] greenkeeper[bot] opened #300 "An in-range update of @types/react is breaking the build 🚨"
## The devDependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.9.15` to `16.9.16`.

🚨 [View failing branch](https://github.com/wellyshen/react-cool-starter/compare/master...wellyshen:greenkeeper%2F%40types%2Freact-16.9.16).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types

[2019-12-09 14:10] #300 closed, assigned to nobody

[2019-12-09 15:43] redlinecodes commented on #273
@wellyshen Thanks, will do!
Update - your right, very easy - I was trying to do it real quick when I should have gone to bed and left it for the next day. Thanks for the help and keep up the great work with this bp!

[2019-12-09 15:43] #273 closed, assigned to nobody

[2019-12-09 21:08] denny64 commented on #242
@hienhuynhtm paths for files in the public folder aren't resolved in DEV mode. See this -> https://github.com/wellyshen/react-cool-starter/blob/master/src/server.tsx#L37

You can change that logic so it works locally as well.

[2019-12-10 05:30] denny64 commented on #242
@wellyshen - We should probably expose the paths for all files in the public folder in dev. Should I do a PR?

[2019-12-10 14:15] wellyshen commented on #242
@hienhuynhtm Sorry, I forget this issue. How's going on with this issue? BTW, many developers use [workbox](https://github.com/GoogleChrome/workbox) for PWA + SSR.

@denny64 Sure man, plz show it by a PR 👍

[2019-12-14 18:17] wellyshen commented on #242
Close due to https://github.com/wellyshen/react-cool-starter/pull/309

[2019-12-14 18:17] #242 closed, assigned to nobody

[2019-12-14 22:59] redlinecodes opened #310 "Trying to deploy to AWS Elasticbeanstalk"
I'm following the instructions provided [here](https://github.com/wellyshen/react-cool-starter#how-to-deploy) and I keep getting this error in aws console:

Failed to find package.json. Node.js may have issues starting. Verify package.json is valid or place code in a file named server.js or app.js.

Do I need to rename the root index file to app.js or something else? Everything has worked fine up

[2019-12-22 14:16] wellyshen commented on #310
@redlinecodes Did you pack the `package.json` file to the cloud?

[2020-01-02 13:59] wellyshen commented on #310
Close due to inactive.

[2020-01-02 13:59] #310 closed, assigned to nobody

[2020-01-06 06:03] zanjs opened #315 "yarn install error"
Output:
‼ read ECONNRESET
  ‼ gifsicle pre-build test failed
  i compiling from source
  × Error: Command failed: C:\WINDOWS\system32\cmd.exe /s /c "autoreconf -ivf"

[2020-01-06 12:48] wellyshen commented on #315
@zanjs Can you try to remove `node_modules` then reinstall it again?

[2020-01-07 04:05] zanjs commented on #315
@wellyshen  Still wrong!

[2020-01-07 13:16] wellyshen commented on #315
@zanjs I think this error was come from this [plugin](https://github.com/wellyshen/react-cool-starter/blob/054df8d9bdc86fa2b225b3fbac887627810c0b1a/tools/webpack/config.babel.js#L65). It's incompatible with your OS (I am OK with it, so I don't know the root case...). I use the new [one](https://github.com/tcoopman/image-webpack-loader) instead of it. You can try the latest commit version.

[2020-01-09 16:15] #315 closed, assigned to nobody

[2020-02-12 15:33] amerllica opened #403 "Ignore watching on node_modules"
# Bug Report

## Describe the Bug

As I read about webpack watching, by default webpack doesn't ignore the `node_modules` folder and for a big project, it causes a very huge cost for NodeJS on a system.

## Expected Behavior

Some watching option should be added to the `server` configuration to prevent watching on `node_modules`.

## Your Environment

- OS: macOS Catalina
- Browser Chrome, Safari

[2020-02-13 10:27] #403 closed, assigned to nobody

[2020-02-26 11:48] amerllica opened #429 "As we know the difference between dependencies and devDependencies, Why dev packages are inside dependencies?"
Actually, my question is not about ReactJS programming, based on my question title, as we know the difference between dependencies and devDependencies, Why dev packages are inside dependencies?

[code]

It is part of a `package.json` of this repo, so why `@babel` plugins or `@babel/preset-env` exist inside **dependencies** part?

[2020-02-29 05:03] wellyshen commented on #429
@amerllica Good question. Because these deps are being used in runtime (SSR). If some of them are not, maybe them should be moved into devDeps lol.

[2020-02-29 09:02] amerllica commented on #429
@wellyshen, Thanks for your answer, but please keep this issue open, I wanna show some evidence about some of them which they should be moved to depDependencies.

[2020-02-29 09:20] wellyshen commented on #429
@amerllica Thank you for your help bro. I am crazy busying now.

[2020-03-31 22:15] kmrigendra opened #508 "Browser History not working when going back on same route"
Hi Team,

I'm facing issues in the re-rendering the same component on searchParam change.
I'm using componentDidUpdate in the view but getting below issue:

Uncaught Error: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops.

Could you please

[2020-04-01 11:00] wellyshen commented on #508
@kmrigendra Did you set state in `componentDidUpdate`?

[2020-04-02 10:04] wellyshen commented on #508
Close due to the root cause of this issue pretty obvious.

[2020-04-02 10:04] #508 closed, assigned to nobody

[2020-04-08 21:26] mehrdad-masoumi opened #535 "Cannot find module '@loadable/babel-plugin' in production"
after this step
yarn build                  # Building bundle
rm -rf node_modules         # After building remove node modules
yarn install --production   # Then install dependencies only

yarn start error in windows and linux
![Capture](https://user-images.githubusercontent.com/8133819/78835349-489e9900-7a05-11ea-8e08-dff85e1f3840.JPG)

[2020-04-08 21:55] mehrdad-masoumi commented on #535
@wellyshen

[2020-04-11 10:11] wellyshen commented on #535
@mehrdad517 Did you install the `@loadable/babel-plugin` as dependency rather than devDependencies?

[2020-04-11 21:33] mehrdad-masoumi commented on #535
yes.
 i'm using flow branch

[2020-04-12 05:39] wellyshen commented on #535
@mehrdad517 The package is in devDependencies. You need to move it (and all the runtime related packages) from devDepednecies to dependencies. BTW, try to use master branch if you can. Flow branch isn’t maintained anymore.

[2020-04-13 11:02] #535 closed, assigned to nobody

[2020-04-13 18:01] mehrdad-masoumi opened #547 "how to use master branch without type script"
how to use master branch without type script or disable type script on this branch

[2020-04-17 21:34] #547 closed, assigned to nobody

[2020-04-17 21:36] mehrdad-masoumi opened #557 "how to disable image bundle"
static image on production envorment not show

[2020-04-17 21:36] mehrdad-masoumi commented on #557
@wellyshen

[2020-04-19 09:26] wellyshen commented on #557
@mehrdad517 I can't reproduce this issue. Can you describe the issue more detailed or give me a reproduced branch for investigating this issue?

[2020-04-26 07:21] wellyshen commented on #557
Close due to inactive, if this issue actually exist. Please report it to me again.

[2020-04-26 07:21] #557 closed, assigned to nobody

[2020-05-01 14:21] mehrdad-masoumi commented on #557
i use require to load image. but image not loading,
on master branch

[2020-05-01 15:08] wellyshen commented on #557
@mehrdad517 Webpack `url-loader` turns on the `esModules` by default. If you want to access your images by the `require()`, you need to use it as below:

[code]

[2020-05-04 19:03] mehrdad-masoumi opened #588 "load data api not send request info"
[2020-05-04 22:51:10] production.INFO: array (
  'domain' => 'deltakit',
  'url' => 'http://api.deltakit.ir/api/shop/products/swiper',
  'method' => 'GET',
  'origin' => NULL,
  'Referer' => NULL,
  'host' => 'api.deltakit.ir',
)
[2020-05-04 22:51:10] production.INFO: array (
  'domain' => 'deltakit',
  'url' => 'http://api.deltakit.ir/api/brand',
  'method' => 'GET',
  'origin' => NULL,
  'Refere

[2020-05-04 19:07] mehrdad-masoumi commented on #588
if using window.location.host or etc routes error

[2020-05-04 19:08] mehrdad-masoumi commented on #588
how to send host, origin or referer to server in load data api

[2020-05-04 19:17] mehrdad-masoumi commented on #588
[2020-05-04 22:46:25] local.INFO: array (
  'domain' => 'deltakit',
  'url' => 'GET',
  'origin' => 'http://localhost:3001',
  'Referer' => 'http://localhost:3001/',
  'host' => 'localhost:8000',
)
[2020-05-04 22:46:25] local.INFO: array (
  'domain' => 'deltakit',
  'url' => 'GET',
  'origin' => 'http://localhost:3001',
  'Referer' => 'http://localhost:3001/',
  'host' => 'localhost:8000',
)
[202

[2020-05-05 10:56] mehrdad-masoumi commented on #588
@wellyshen

[2020-05-05 12:56] wellyshen commented on #588
@mehrdad517 I have exposed the HTTP request and response for you (see [v3.7.0](https://github.com/wellyshen/react-cool-starter#data-fetching-from-server-side)). You can get the related data from the `req` object then send it with `axios`.

[2020-05-05 13:44] mehrdad-masoumi commented on #588
@wellyshen tank u

[2020-05-05 22:39] mehrdad-masoumi commented on #588
The problem was not solved.I got the host information using req.
But when I called the action again at home I have to pass the req to it, But where from?
How can I access req by default in Actions?
An AppState defines a router that does not contain headers.

My program must send the header to receive information from the server based on the header sent.

@wellyshen

[2020-05-05 22:59] mehrdad-masoumi commented on #588
how to set req object in server.tsx that send with loaddata url
@wellyshen

[2020-05-06 17:22] wellyshen commented on #588
@mehrdad517 We can't access the req in client-side directly, but we can pass the data of req to client-side via Redux store then access it as below:

[code]

[2020-05-06 20:46] mehrdad-masoumi commented on #588
solved!
please apply this configuration in the new version,

[2020-05-07 04:51] #588 closed, assigned to nobody

[2020-05-09 19:30] williamku opened #589 "why use bitwise & on 2 return types?"
Hi,

First of all, thank you for creating this project!  Great job and very helpful!

My below questions concerns this module and code lines:

**[ module ]:**

react-cool-starter/src/pages/Home/Home.tsx

**[ line-number ]:**

10

**[ code block ]:**

[code]

**[ my questions ]:**

(1) Why the bitwise "&" is used?

(2) The bitwise "&" returns a new value after evaluating both values.  Was your inte

[2020-05-10 02:18] williamku commented on #589
No need to answer this question - because I found out the reason - so I am closing this issue/question

[2020-05-10 02:18] #589 closed, assigned to nobody

[2020-05-16 20:29] mehrdad-masoumi opened #593 "document is not defind"
I want to set these variables before the page loads

[code]

[2020-05-18 21:19] amerllica commented on #593
This starter uses SSR, and on the server-side, there is no `document` and `window` object. So definitely, you are completely in the wrong way. I don't know why you don't use the above codes directly in the global SCSS file. like this:

[code]

But if you are serious to use this kind of implementation so you should use a check like this:

[code]

[2020-05-18 21:30] amerllica opened #594 "Where we should use tsx extension file extension?"
Just like all of us know this starter uses TypeScript. so most of the files should be written by **ts** file extension, but some files have **tsx** extension. it happened because they contain **JSX**. so it is more readable to use *x* end of the extension.

But for route file, I see the file have **tsx** extension and actually it doesn't contain JSX codes. so why it should be `routes.tsx`? I think

[2020-05-20 09:49] wellyshen commented on #594
@amerllica Thank you bro, I have fixed it in the latest version.

[2020-05-20 09:49] #594 closed, assigned to nobody

[2020-05-20 09:50] wellyshen commented on #429
Close due to inactive.

[2020-05-20 09:50] #429 closed, assigned to nobody

[2020-05-20 13:46] wellyshen commented on #593
@amerllica Thank you for helping 👍

[2020-05-20 13:46] #593 closed, assigned to nobody

[2020-05-20 19:41] amerllica opened #596 "Update git ignore file"
# Update git ignore file to avoid having system/IDE/editor/build files
The macOS has a system file for each folder and its name is `.DS_Store` and another system folder that name is `__MACOSX`, also the Window has too and its name is `Thumbs.db` I believe both of them should be in the git ignore file.

Also, there are some IDE/editor files like:
 - JetBrains IDE setting folder: **.idea**
 - VSCode

[2020-05-20 23:57] amerllica opened #598 "Having lighter bundle alongside catching libraries in separated bundle file(s)."
After many searches and studying a lot of ReactJS starters, I find out this Starter is awesome and scalable. but I have some questions/sights about bundling.

I implemented [a starter](https://github.com/amerllica/react-warm-starter) and when I run `yarn build` in my starter, these files are  built:

 1. **server.js**: a bundled file just for the node in the server-side
 2. **vendor.js**: a vendor

[2020-05-21 11:18] #596 closed, assigned to nobody

[2020-05-21 13:07] wellyshen commented on #598
@amerllica Please hold on, I'm planning to migrate to Webpack v6, React-Refresh etc. I think they will have big impact to the configuration.

[2020-05-22 05:29] amerllica commented on #598
Dear Bro @Wellyshen, now you wanna keep open this issue?

[2020-05-22 10:36] wellyshen commented on #598
@amerllica We can keep it for features reference.

[2020-05-22 20:43] amerllica opened #599 "What is hook.js and what is its benefits?"
Just like I said, I read several starters and studied many implementations. I cannot understand what does the `hooks.js` do?

I had no problem until installing [`tailwindcss`](https://tailwindcss.com/docs/installation). By the docs guides, I add the `require('tailwindcss'),` to the `postcss.config.js` file and got this error:

[code]

Then I look for the [`css-modules-require-hook`](https://github

[2020-05-23 12:32] Jay341997 opened #600 "Page Getting Refresh When I Navigate from Home to User (Router Issue)"
Hey Guys,
I am facing a Routing issue for the older android version (<= 4.). The issue is page getting refresh when I navigate from one page to another (ex. Home page to User). If you want to see this issue use any emulator which has an android version <= 4. In my case, I have used the Galaxy S lll emulator in Chrome Inspector. It will very helpful if you guys look into this.

[2020-05-23 21:53] amerllica commented on #600
Dear @Jay341997, I guess it is better to leave a question on Stack Overflow. because we use `react-router` and we just use it, none of these technologies for ours. for example, you can leave issue or question about a router on NextJS repo, because they have their own routing. but we, just use trend techs.

I hope my comment helps you. :rose:

[2020-05-24 06:46] wellyshen commented on #599
@amerllica Regarding to your question:

- `hook.js`: a module for setting `css-modules-require-hook` and `asset-require-hook`. We can omit it once we have implemented server-side bundling for development and production.
- `css-modules-require-hook`: compiling css modules in runtime, so styles can work properly in SSR.
- `asset-require-hook`: handling the import of static files in runtime, so image

[2020-05-24 06:54] wellyshen commented on #600
@Jay341997 This is the issue of the browser compatibility of `react-router`. I suggest you search related issues or ask this question there.

[2020-05-24 06:54] #600 closed, assigned to nobody

[2020-05-24 08:49] amerllica commented on #599
Dear @wellyshen bro, I set it by using Webpack and everything became ok now. for this sentence:

When we will going to have a server build, we could use the `isomorphic-style-loader`. I use it in [this example](https://gitlab.com/amerllica/react-server-render-example). I know you are busy now. but when you have time. take a little glance at this example on the repo that I have in my mind.

I imple

[2020-05-24 09:21] amerllica opened #601 "Is it possible to have more readable package.json file?"
The title comes from this question: **Why all of the configs are in the package.json file?**

Why we have not separated these files:

 - `.eslintrc` and `.eslintignore` for ESLint configuration
 - `.babelrc` for having babel configuration
 - `.stylelintrc` for having style lint configuration
 - `.prettierrc` for having configuration of prettier
 - `.browserslistrc` for having browserify configurat

[2020-05-25 12:57] wellyshen commented on #601
@amerllica Okay let's do it. Thank you.

[2020-05-25 13:02] wellyshen commented on #599
@amerllica The `isomorphic-style-loader` can be one of the option. However I will find a way to eliminate the `hook.js` after migrating webpack to v6. Let's keep this issue for enhancement.

[2020-06-08 15:08] kmrigendra opened #604 "how to deploy node js application using pm2 config"
Hi @wellyshen,

Please help me.

[2020-06-14 08:03] amerllica commented on #601
Dear @wellyshen, can you review my PR, because I have another PR to implement a better development area to have a faster development build.

[2020-06-14 08:04] wellyshen commented on #601
@amerllica I did. And I leave some comments to you bro.

[2020-06-14 08:07] amerllica commented on #604
Dear @kmrigendra, by the guides on the issue template, you should leave a question or issue or idea about the `react-cool-starter`. Not just leaving _please help_.

For such these question you can search and read about configs and do it by yourself or leave a question on **Stack Overflow**. you even can search on the closed issues. for example [this issue](https://github.com/wellyshen/react-cool-s

[2020-06-14 08:14] amerllica commented on #601
@wellyshen, I cannot see any comment, it's so weird for me. why I see a conflict. the day I sent the PR there was no conflict. so I fix it and will send it again.

[2020-06-14 08:17] wellyshen commented on #601
@amerllica Sorry I forgot to submit the comments. Can you see them now?

[2020-06-14 08:34] amerllica commented on #601
Dear @wellyshen, Thanks for your comments. for the last time, please review the comments and after that, I will change my codes for the current PR.

[2020-06-14 08:42] wellyshen commented on #601
@amerllica Thank you for your effort bro, I will review it again after you update the PR.

[2020-06-14 08:47] wellyshen commented on #604
@kmrigendra Close this issue due to @amerllica's suggestion. Please survey or Goole it by yourself first, if it's **really difficult** to integrate PM with this starter that you can call for help by re-open this issue.

[2020-06-14 08:47] #604 closed, assigned to nobody

[2020-06-14 08:50] amerllica commented on #601
Thanks @wellyshen, I answer to some comments. I mean review the comments. not the codes.

[2020-06-15 04:31] theogravity commented on #599
is there a guide on how to make tailwind work with the current setup?

also what I don't like about `isopmorphic-style-loader` is that it writes the CSS directly onto the page, compared to the current approach where it references the appropriate stylesheet

[2020-06-15 12:46] wellyshen commented on #601
@amerllica I have replied your comments, please review them. If any concerning, feel free to discuss with me, thank you.

[2020-06-15 12:54] wellyshen commented on #599
@theogravity

For tailwind, as my experience it's easy to be integrated with this starter by following its [documentation](https://tailwindcss.com/docs/installation) (see this [issue](https://github.com/wellyshen/react-cool-starter/issues/191)). If you have any problem, please let me know, I'm glad to help you.

For `isopmorphic-style-loader`, I think we're on the same page.

[2020-06-15 19:49] theogravity commented on #599
@wellyshen Thanks for responding.

The issue you posted unfortunately has broken links. Is there a quick patch that I could apply to grasp what's required?

I also experimented with removing `css-modules-require-hook` entirely, but it seems the JS / html loads first before the CSS when I do it, causing a jarring re-render of unstyled to styled. I also noticed that you said you cannot do styles in

[2020-06-16 04:23] theogravity commented on #599
I think I better understand the behavior now for why removing `css-modules-require-hook` causes the CSS rendering issue.

When node.js encounters the `import './test.css'` line, it looks at `require.extensions` for the `css` definition, which is filled in by `css-modules-require-hook`.

As you stated above, `css-modules-require-hook` is using `postcss` to compile the style into a JS object to be c

[2020-06-16 06:14] amerllica commented on #601
Dear @wellyshen bro, I push new commit now. actually, I changed codes based on your code review.

Why does the build fall into error?

[2020-06-16 15:16] #601 closed, assigned to nobody

[2020-06-17 12:01] wellyshen commented on #599
@theogravity

- For the tailwind: Sorry, I removed the example branch, I'll find time to show you again.
- For the hook: I will find a better solution for it when I migrate this starter to Webpack v5.

[2020-06-17 18:47] theogravity commented on #599
@wellyshen No rush. In the end I went with next.js as it offers a lot of stuff that this framework has.

I still think your framework is cool, but I spent too many days fighting it to get tailwind to work and I needed a solution that just works.

[2020-06-21 14:34] wellyshen commented on #599
@theogravity

Sorry for that. Next.js is an encapsulated framework, it's really easy to use, great choice. However this starter more like a scaffolding for DIY users. Thank you for your feedback, I'll spend time to make this starter more easy to use. Keep enrich the ecosystem of React.js.

BTW, I also using Next.js for some of my projects, we can still discuss about it lol.

[2020-06-23 04:06] theogravity commented on #599
Thank you for all your work @wellyshen - I understand not everyone has free time to work on their projects and it's a miracle that you've continued to update it for so long.

[2020-06-23 11:07] amerllica commented on #598
Dear bro @wellyshen, the Webpack version is now on 5 beta according to [this link](https://github.com/webpack/webpack/releases). but you said:

It's my first question.

And also I wanna work on `changing build scenario`, if you don't have time right now, may I work on this current issue and send PR?

[2020-06-24 08:09] wellyshen commented on #598
@amerllica I'm not sure if we need to do it at this phase because it's still in beta and I'm also concerning the compatibility of related Webpack plugins, how do you think about that?

[2020-06-24 08:25] amerllica commented on #598
@wellyshen, Dude, It's my bad describing, actually I have two questions:

1. Why did you say webpack v6? we even don't need version 5 and exactly right, compatibility may be the main issue.
2. May I work on this enhancement issue? I wanna use `webpack-hot-server-middleware` and `webpack-hot-middleware` to make a separated build file for the server and decouple `vendor` from `app`

[2020-06-24 08:27] amerllica opened #610 "Having faster development area for babel."
Duo to enhancement, we should stop compacting babel on the development mode. so I should add a little config to the babel configuration file.

[2020-06-24 08:46] wellyshen commented on #598
@amerllica Sorry for typo I mean the v5. Sure, go ahead for your idea. If you can give me a minimal POC, I can better to understand it.

[2020-06-27 07:06] amerllica commented on #610
Dear @wellyshen, May you please review my new PR?

[2020-08-07 10:54] mikejdegroot commented on #234
Hey guys did this fork ever get fixed? I'm keen to switch over to renderToNodeStream also

[2020-08-07 11:01] Rid commented on #234
@mikejdegroot I haven't done anything with this project in a while as I've not had time to port my own install over to typescript yet.

My fork is using the older javascript version, so you might need to start this again from scratch.

[2020-08-07 11:03] mikejdegroot commented on #234
ok no worries, i'll try and take a look soon. my fork is on the JS version as well. Thanks for getting back to me

[2020-08-07 12:20] wellyshen commented on #234
@mikejdegroot, Thank you, I will take time to survey it.

[2020-08-09 11:37] scaledrop opened #678 "Client side loading doesn't work"
All pages seem to be loading from server now.

dev:
![image](https://user-images.githubusercontent.com/2621312/89731194-b665da80-da62-11ea-8717-83d87f243816.png)

prod:
![image](https://user-images.githubusercontent.com/2621312/89731175-99310c00-da62-11ea-8aee-60d9bf57e24a.png)

This has happened recently. @wellyshen Can you please look at it?

[2020-08-09 15:13] wellyshen commented on #678
@scaledrop No problem, it has been fixed in the [v3.10.1](https://github.com/helmetjs/helmet/blob/master/CHANGELOG.md#added).

[2020-08-09 15:13] #678 closed, assigned to nobody

[2020-08-09 15:32] scaledrop commented on #678
Thanks a lot!

[2020-08-12 07:48] s-pyadyshev opened #689 "Error: pngquant failed to build, make sure that libpng-dev is installed"
$ yarn
yarn install v1.22.4
[1/5] Validating package.json...
[2/5] Resolving packages...
[3/5] Fetching packages...
info fsevents@2.1.3: The platform "win32" is incompatible with this module.
info "fsevents@2.1.3" is an optional dependency and failed compatibility check. Excluding it from installation.
info fsevents@1.2.13: The platform "win32" is incompatible with this module.
info "fsevents@1.2.

[2020-08-22 12:08] wellyshen commented on #689
@s-pyadyshev See if you can find the solution via this [open issue](https://github.com/imagemin/imagemin-pngquant/issues/46).

[2020-08-25 16:10] nikvarma opened #714 "css lib is not working - semantic ui"
thank you for create starter guide app, very helpful.

i am facing the issue with css, seems there is some issue in webpack.config. i installed **semantic ui**  and now when i am running the app css is not applying due build is adding extra prefix on each class name **semantic-min__ui.semantic-min__button**.

[2020-08-26 07:21] sunild7 commented on #6
@wellyshen Thank you for simple and best boilerplate I have ever seen. Going to use it in to production.

[2020-08-27 12:28] wellyshen commented on #6
@sunildandwate Nice! Keep going bro.

[2020-08-28 13:15] sunild7 commented on #6
HI @wellykkstream I have tarted using it going good but I wants to add child routes and render then in admin page.
I have write trial code but it's not working could you please help in that.
Below code I have written.

import React, { memo } from "react";
import { Helmet } from "react-helmet";
import { Link } from "react-router-dom";
import { renderRoutes } from "react-router-config";

import styl

[2020-08-29 10:01] wellyshen commented on #6
@sunildandwate How about the setup of your route config (related [docs](https://github.com/wellyshen/react-cool-starter#adding-routes))? Maybe you can give me a minimal reproduced repo, I need more context for debugging...

[2020-08-31 12:35] #689 closed, assigned to nobody

[2020-08-31 12:37] wellyshen commented on #714
@nikvarma Can you give me a minimal repo for debugging?

[2020-09-22 18:04] nikvarma commented on #714
Hi, this issue is resolved now, after updating the packages.

but now i'm facing issue with deploying to firebase(bez no index file is generating) and web server. plz help @wellyshen

build cmd

"build": "cross-env NODE_ENV=production webpack --progress --hide-modules --config ./tools/webpack/config.babel.js",

![image](https://user-images.githubusercontent.com/3116497/93920477-3d060c80-fcdd-11ea-

[2020-09-24 07:42] wellyshen commented on #714
@nikvarma Sorry I don't familiar with the hosting of Firebase. For React server-side rendering, the HTML template is generating by the express server, therefore there's no the `index.html` file. But the general concept is [packing the all necessary stuff](https://github.com/wellyshen/react-cool-starter#how-to-deploy) then running it by a Node.js hosting.

[2020-09-24 07:42] #714 closed, assigned to nobody

[2020-10-12 07:40] amerllica commented on #599
@wellyshen, The Webpack v5 is officially released, by:

Do you have a plan to eliminate `hook.js`?

[2020-10-12 15:09] mikejdegroot commented on #6
@wellyshen we used the boiler plate to make the production music site https://www.bammusic.com :) thank you

[2020-10-12 15:51] wellyshen commented on #6
@mikejdegroot Wow! I love the music website, super cool, well done bro! Could you mind to list the website on the [real case study](https://github.com/wellyshen/react-cool-starter#real-case-study) section?

[2020-10-12 15:53] mikejdegroot commented on #6
Thanks very much! it's been a long road, I used your boilerplate to learn react from the ground up whilst developing this. Really appreciate all your hard work on it! I'd be honoured to put it on the case study section

[2020-10-12 15:55] wellyshen commented on #599
@amerllica Yea, I'm planing to eliminate the `hook.js`. It causes several limitations of postCSS plugins, but I might not do it soon, because I'm focusing on a new form library.

[2020-10-12 18:14] amerllica commented on #599
@wellyshen, which form library? could you say that name?

[2020-10-13 02:52] wellyshen commented on #599
@amerllica The `react-cool-form`. It's under developing.

[2020-10-13 14:20] wellyshen commented on #6
@mikejdegroot
I have added the **BAM Music** to the [real case study](https://github.com/wellyshen/react-cool-starter#real-case-study) section. It's great to help you via this starter kit. Your learning story is the biggest reward for me to contribute OSS. Great work again! 💯

[2020-10-24 14:14] wellyshen commented on #610
Close due to the idea of simple and clear of this start-kit.

[2020-10-24 14:14] #610 closed, assigned to nobody

[2020-11-02 14:04] wellyshen opened #895 "React-refresh throws error when use .js extension for page component"
Leaving an open issue for bug fixing.

![image](https://user-images.githubusercontent.com/21308003/97876851-588e1980-1d57-11eb-81ce-bb3259b95876.png)

[2020-11-19 18:51] Satish-Gupta opened #942 "Cannot load images with more than 10Kb"
## Images are not loading if the image size is more than 10Kb

The image stops working if the file size is more than 10Kb.

![image](https://user-images.githubusercontent.com/6943258/99707702-eb071a80-2ac4-11eb-93f1-0742a3ad9f20.png)

If i change  **name: "[name].[contenthash:8].[ext]"** to **name: "[name].[hash:8].[ext]"** for images section in hooks.js then actual hash is used but then i get the

[2020-11-28 17:48] wellyshen commented on #942
@Satish-Gupta Sorry for the late, have you synced the **name** between `hooks.js` and [config.babel.js](https://github.com/wellyshen/react-cool-starter/blob/master/tools/webpack/config.babel.js#L98)?

[2020-12-01 18:39] Satish-Gupta commented on #942
Hi,
I have synced the hooks.js and config.babel.js and still having the same result.

- hooks.js

[code]

- config.babel.js

[code]
If i remove the hash section in both of the above it works.

[2020-12-02 02:14] wellyshen commented on #942
@Satish-Gupta Please solve it by your way now. I am going to implement the server-side bundling once the starter has been upgraded to webpack v5.

[2020-12-02 04:56] Satish-Gupta commented on #942
@wellyshen, Sure. I will do so until the upgrade. Thank you.

[2021-01-18 18:11] ashivliving commented on #6
Used this boilerplate modified it using Redux observable and created [spinny](https://www.spinny.com) . Thank you for such an amazing isomorphic boilerplate! Kudos!!

[2021-01-19 14:28] wellyshen commented on #6
@ashivliving Awesome man, the website so professional. May I add it to the [Real Case Study](https://github.com/wellyshen/react-cool-starter#real-case-study) section?

[2021-02-04 18:55] ashivliving commented on #6
@wellyshen yeah sure! :)

[2021-03-29 23:55] amerllica opened #1028 "Is it possible to have cache for some request from node side?"
I'm using `react-cool-starter` for a project and it seems I will need cache from server, for example some pages doesn't need to call BE APIs for several times and when user call it several times the node server should just answer by using its cache.

Is it possible for to have cache in this awesome configuration?

[2021-03-30 00:19] amerllica opened #1029 "Do we have server built file?"
Something is not clear for me yet, Do we have server built file or not?

When I run the `yarn build` command it is obvious we will have all the client assets in the `public` folder and will serve them to the client, but what about server?

By my understanding by using `yarn start` command:

we will run this file:

[code]

it means for the last line `require('./src/server');` we are using source co

[2021-03-30 09:45] amerllica commented on #895
@wellyshen , Hi, May I ask you to add reproduction of issue?

[2021-03-30 09:54] amerllica commented on #234
In my implementation I started by using this repo, but I changed many things, for example for CSS I added `@Material/styles` JSS, so, if I wanna create CSS from server it is impossible for me to use stream rendering, because after the `renderToString` finished its work, I could grab server CSS and inject it to HTML.

[2021-04-04 15:55] amerllica commented on #1029
@wellyshen, Duo to this issue, I wanna change SSR render by new configuration, I will use `webpack-hot-server-middleware` to make the Webpack config as an Array, one for client and one for server, then in the production level, we will have `server.js` and it is built by my new config. it means for production we will have a fully node commonjs2 application and we won't use `ssr.tsx` and `ts-node` f

[2021-04-04 17:47] wellyshen commented on #1029
@amerllica We don't have yet. Sorry man, I'm busying for other libraries will back to this starter soon. I plan to build the SSR file when migrating to Webpack v5. Would you mind sharing your solution with me first?

[2021-04-04 17:53] wellyshen commented on #1028
@amerllica Take a look at [React-Query](https://react-query.tanstack.com) or [SWR](https://swr.vercel.app). They can help us cache data without hitting the node server.

[2021-04-04 17:59] amerllica commented on #1029
@wellyshen, I know you're busy, me too, for now I'm very busy with a Silicon Valley project. but still I'm so eager to this starter, I mentioned my idea in the first post of this issue, [here](https://github.com/amerllica/arvan). Whenever you have time pull it and you can see in the production level we will have a commonjs2 file not reading from source.

[2021-04-04 18:00] #1028 closed, assigned to nobody

[2021-04-24 18:28] #598 closed, assigned to nobody

[2021-04-24 18:28] #599 closed, assigned to nobody

[2021-04-24 18:28] #942 closed, assigned to nobody

[2021-04-24 18:28] #1029 closed, assigned to nobody

[2021-04-24 18:36] #895 closed, assigned to nobody

[2021-04-26 08:10] Osama-you opened #1057 "Cannot find module '~/node_modules/babel-loader/lib/index.js' when run build!"
# Bug Report

## Describe the Bug
There is an error showing  during the build

## How to Reproduce

I just follow the installation guide

[code]
[code]
[code]

## Screenshots

![image](https://user-images.githubusercontent.com/37075385/116061566-b0189c80-a68b-11eb-8ef3-3e94d1fa7d24.png)

## My Environment

- OS:  Windows
- Browser: Chrome
- Node version: v14.15.4
- App version: v4.3.4

[2021-04-26 09:05] wellyshen commented on #234
Due to the [support of pre-fetching/pre-loading](https://loadable-components.com/docs/server-side-rendering/#prefetching), I think we won't implement this feature.

[2021-04-26 09:05] #234 closed, assigned to nobody

[2021-04-26 09:13] wellyshen commented on #1057
@Osama-you Please follow the [bug template](https://github.com/wellyshen/react-cool-starter/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) to provide your environment.

[2021-04-26 09:41] Osama-you commented on #1057
ok, I edited it

[2021-04-26 14:50] wellyshen commented on #1057
@Osama-you Please ensure all the node modules **have been installed successfully**, especially the babel-loader v8 with related @babel dependencies as v7.

[2021-04-26 17:21] Osama-you commented on #1057
@wellyshen It is installed, also I deleted node_modules and yarn.lock and reinstalled  again
<br/>
![image](https://user-images.githubusercontent.com/37075385/116123784-1ae9c800-a6cc-11eb-973b-9b598e6b6296.png)
![image](https://user-images.githubusercontent.com/37075385/116123936-4bc9fd00-a6cc-11eb-8595-70f3853f2995.png)

[2021-04-27 01:16] wellyshen commented on #1057
@Osama-you I can't reproduce this issue on my MacOS. I think it might be an environment issue. I will try it on Windows to see if I can reproduce it or not. Let's leave this issue open.

[2021-04-27 14:55] amerllica opened #1059 "How you deal with react-refresh?"
Dear Wellyshen, In my project I updated the Webpack to the higher version, and also I used `webpack-hot-server-middleware` and I have server-build and everything works well, but I lost `react-refresh`. how you deal with the `react-refresh` issue?

Because it has some issues with Webpack 5.

[2021-04-28 13:30] wellyshen commented on #1059
@amerllica Thank you for telling me about this issue, I'm facing this issue too. I will spend time investigating it, if you have a solution please share it with me.

[2021-04-28 15:23] wellyshen commented on #1059
@amerllica Yo bro, here's the temporary workaround for this issue, see #1065

[2021-04-28 16:43] amerllica commented on #1059
@wellyshen Really thanks, I will upload my changes in another repo with fork of your repo, to show you how I made it, actually my friend `Saeed Padyab` helped me a lot. I will review this issue, thanks bro.

[2021-04-28 16:48] wellyshen commented on #1059
@amerllica Nice thank you for that 😎

[2021-04-29 10:07] wellyshen commented on #1059
@amerllica Will you show me the solution for the setup of `react-fresh` with SSR bundle?

[2021-05-03 14:22] amerllica commented on #1059
@wellyshen, My entire SSR solution is different from your implementation, I used `webpack-hot-server-middleware` and the `react-refresh` works well in it. My base configuration is on the latest version of RCS before your new SSR.

If you want I can make a SandBox or a TempRepo to show you my codes. I didn't add additional settings.

[2021-05-03 14:27] wellyshen commented on #1059
@amerllica I see. Do you think it's a good choice to tweak this starter for enabling react-fresh based your configuration? By the way, I have tested Next.js, react-refresh fails too.

[2021-05-03 14:33] amerllica commented on #1059
@wellyshen, I hate `Next.js`, really.

I think it could be a good approach to test my configuration. and then prepare yours with mine. and then choose what's better.

If you want, I should send a PR to another branch of your repo, please keep me posted, because of my tight time, it takes some days.

[2021-05-03 14:36] wellyshen commented on #1059
@amerllica Lol you make me laugh bro. Can you show me your configuration first? I will take take to study it.

[2021-05-03 14:38] amerllica commented on #1059
@wellyshen, it is not on GitHub, it's on BitBucket and it is private, if you want come [here](https://meet.google.com/isf-wcxy-bqh), I'm live now. I can show you my codes by using screen sharing.

[2021-05-03 14:41] wellyshen commented on #1059
@amerllica I won't see it now (because I'm eating). Maybe you can show me some code snippets when you have time.

[2021-05-03 14:44] amerllica commented on #1059
@wellyshen, Showing code snippets needs preparing and it takes my time. finish your eating, take rest, whenever you want, call me on WhatsApp or come here: https://meet.google.com/isf-wcxy-bqh then I can share my screen and show you what I did.

WA: https://wa.me/qr/QUAQFKN4VSMBF1

[2021-05-03 14:47] wellyshen commented on #1059
@amerllica I will find a day to book your time for it. Thanks bro.

[2021-07-12 00:11] MichalKoder commented on #105
I had similar problem with whole project and not just single files and fixed it with the following command:
npx eslint . --fix

[2021-09-10 17:34] LuisValgoi opened #1183 "Internationalization BuiltIn (react-i18n-next)"
# Feature Request

## Describe the Feature

To have i18n as a built-in feature.

## Describe the Solution You'd Like

instead mocking the values directly into the components, passing the key to the internationalization engine.

## Describe Alternatives You've Considered

To have `react-i18n-next` built in.

## Additional Information

https://github.com/LuisValgoi/ui5-webcomponents-react-seed

[2021-09-10 17:36] LuisValgoi opened #1184 "Release to npm as a template for CRA"
# Feature Request

## Describe the Feature

Release @ npm / yarn as template

## Describe the Solution You'd Like

To be able to type `npx create-react-app --template react-cool-starter` or something similar, and receive a project with all those cools features it already have

## Additional Information

Like this one:
https://github.com/LuisValgoi/ui5-webcomponents-react-seed

[2022-01-11 10:26] doncatas opened #1231 "Not loading images on fresh open"
Hello,

I faced issue that images gets incorrect links (not includes assets/). After i do any change on component it rerenders that component and then it gets displayed. When i reload page again it does not show images again. Does anyone knows anything about it? Im using newest repo version.

I tried to reproduce bug on cloning repo and just adding image and it does not work also. (Image is larger

[2022-01-11 12:10] doncatas commented on #1231
There was missing publicPath: "/assets/", in webpack/server.config.ts output: {}

[2022-01-11 12:10] #1231 closed, assigned to nobody

[2022-05-09 05:35] FablihaNahid commented on #3
![1](https://user-images.githubusercontent.com/49697751/167346679-2b114d4a-ee9d-41d8-92d5-c6f646c750ae.PNG)
![2](https://user-images.githubusercontent.com/49697751/167346686-66bdaa81-0529-483b-933e-994989ffa849.PNG)

I'm facing this error and unable to solve it. can you help me how can I resolve it?

[2022-05-21 10:37] zack-ari commented on #3
Hi there, did you find a solution for this facing same error here

[2022-06-27 06:13] nghianm93 commented on #3
<img width="507" alt="image" src="https://user-images.githubusercontent.com/106898353/175871444-a452a65a-f958-464e-9a06-549ab4cda99f.png">
Try this.

[2022-10-23 07:17] asif-code commented on #3
It Works